<ion-view id="cache">
    <ion-header-bar>
        <a href="#/main" class="col-10 button button-icon button-clear ion-arrow-left-a"></a>
        <h1 class="title">Mise en cache</h1>
    </ion-header-bar>

    <ion-content class="has-header" scroll="false">
        <div class="row">

            <!-- Content / Left -->
            <div class="cache-left col col-25">
                <div class="sirs-field">
                    <span class="sirs-field-title">Niveaux de zoom</span>
                    <rzslider class="cacheSlider" rz-slider-model="c.minZoom" rz-slider-high="c.maxZoom" rz-slider-floor="0" rz-slider-ceil="18" rz-slider-on-change="c.updateTileCount()"></rzslider>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Niveau de zoom actuel</span>
                    <p class="text-right">{{c.getCurrentZoom()}}</p>
                </div>
                <div class="sirs-field">
                    <span class="sirs-field-title">Nombre de tuiles</span>
                    <p class="text-right">{{c.tileCount|number}}</p>
                </div>
                <p ng-show="c.tileCount > 20000">
                    <i class="icon ion-alert-circled"></i>&nbsp;Nombre de tuiles élevé. Afin de limiter l'espace disque occupé par la mise en cache, il est conseillé de réduire l'étendu géographique ou encore le niveau de zoom maximum.
                </p>
                <button type="button" class="btn-floating btn-large waves-effect waves-light pink" style="bottom: 15px; right: 15px;" on-tap="c.validate()">
                    <i class="large material-icons">check</i>
                </button>
            </div>

            <!-- Content / Right -->
            <div class="cache-right col col-75">
                <ol-map name="cache" onready="c.setDefaultArea(map)"></ol-map>
                <img src="img/viseur.png" ng-show="c.selectedCorner"/>
            </div>

            <!-- Actions -->
            <div class="cache-actions">
                <button type="button" class="btn-floating btn waves-effect waves-light white btn-corner tl"
                        on-tap="c.editCorner('tl')" ng-class="{active: c.selectedCorner === 'tl'}">
                </button>
                <button type="button" class="btn-floating btn waves-effect waves-light white btn-corner tr"
                        on-tap="c.editCorner('tr')" ng-class="{active: c.selectedCorner === 'tr'}">
                </button>
                <button type="button" class="btn-floating btn waves-effect waves-light white btn-corner br"
                        on-tap="c.editCorner('br')" ng-class="{active: c.selectedCorner === 'br'}">
                </button>
                <button type="button" class="btn-floating btn waves-effect waves-light white btn-corner bl"
                        on-tap="c.editCorner('bl')" ng-class="{active: c.selectedCorner === 'bl'}">
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>