<ion-view class="cache-view">
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-25 cache-form">
                <ion-list>
                    <!--FIXME  validation de form-->
                    <label class="item item-input">
                        <span class="input-label">nom du Cache</span>
                        <input type="text" ng-model="CacheName">
                    </label>
                    <ion-toggle ng-model="polyOrnotPoly">
                        Selection Polygonale
                    </ion-toggle>
                    <ion-checkbox ng-repeat="layer in layers|filter:{isCache:false}" ng-model="isChecked"> Recup
                        {{layer.name}} ?
                    </ion-checkbox>

                    <rzslider rz-slider-model="centreCarte.zoom" rz-slider-floor="0" rz-slider-ceil="18"></rzslider>
                    <rzslider rz-slider-model="z.zMin" rz-slider-high="z.zMax" rz-slider-floor="0"
                              rz-slider-ceil="18"></rzslider>
                    {{nbTile}}
                    {{nbTileDownloaded}}
                    <progress max="{{nbTile}}" value="{{nbTileDownloaded}}"></progress>

                    <button class="button button-block button-positive" href="#/" on-tap="cachMe()">Lancer la recherche
                    </button>
                </ion-list>
            </div>
            <div class="col col-75">
                <openlayers id="mapCache" ol-center="centreCarte" ol-controls="controls" ol-defaults="defaults"
                            height="400px">
                    <ol-layer ol-layer-properties="layer" ng-repeat="layer in layers|filter:{active:true}"></ol-layer>
                </openlayers>
                <ion-list>
                    <!--on-tap="changeColorOfFeature()"-->
                    <ion-item ng-repeat="item in  user.cache.layers">Source en Cache : {{item.origine}} , Nom Du Cache :
                        {{item.nom}}
                    </ion-item>
                </ion-list>


            </div>
        </div>
        <!--{{var.CoordList}}-->
    </ion-content>
</ion-view>
