<ion-view view-title="Forgot Password" class="loading-view">
    <ion-content padding="true">
        <div class="row">
            <div class="col col-50 col-offset-25 signin-form">
                <ionc-content scroll="false">
                    <p class="password">
                        Veuillez contacter l'administrateur de votre base de données SIRS V2 pour réinitialiser votre mot de passe.<br/>
                        <a href="#/sign-in">Retour à la page de connexion</a>.
                    </p>
                </ionc-content>
            </div>
        </div>
    </ion-content>
</ion-view>