<ion-view id="forgotPassword">
    <ion-content>
        <div class="row responsive-md">
            <div class="col col-50 col-offset-25">
                <div class="sirs-card">
                    <div class="sirs-card-content">
                        <h2 class="sirs-card-title">Mot de passe oublié</h2>
                        <p>Veuillez contacter l'administrateur de votre base de données pour réinitialiser votre mot de passe.</p>
                    </div>
                    <div class="sirs-card-action">
                        <a href="#/login" class="btn-flat waves-effect waves-teal">
                            <i class="material-icons left">arrow_back</i>Revenir à la page de connexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>