<ion-view id="gallery">
    <ion-content>
        <div class="tabs-striped">
            <div class="tabs tabs-sirs" style="background-color: #00BCD4;">
                <!-- Tab / Documents -->
                <a class="tab-item" ng-class="{active: c.activeTab === 'documents'}" style="color: white;"
                   on-tap="c.setActiveTab('documents')">Documents</a>
                <!-- Tab / Photos -->
                <a class="tab-item" ng-class="{active: c.activeTab === 'medias'}" style="color: white;"
                   on-tap="c.setActiveTab('medias')">Medias</a>
            </div>
        </div>
        <!-- Content -->
        <div ng-if="c.activeTab === 'documents'"
             ng-include="'templates/documents_gallery.html'"></div>
        <div ng-if="c.activeTab === 'medias'"
             ng-include="'templates/medias_gallery.html'"></div>
    </ion-content>
</ion-view>