<ion-view view-title="Sign-In" class="signin-view">

    <ion-content>
        <div class="row">
            <div class="col col-50 col-offset-25 signin-form">
                <h1 class="signin-title">Première Connection : Ajout du serveur</h1>

                <div class="list">

                    <label class="item item-input signin-item">
                        <input type="text" placeholder="adresse" ng-model="c.confDbDesc.adress">
                    </label>
                    <label class="item item-input signin-item">
                        <input type="number" placeholder="port" ng-model="c.confDbDesc.port">
                    </label>
                    <label class="item item-input signin-item">
                        <input type="text" placeholder="nom de la base (fixMe nom auto chargée?)"
                               ng-model="c.confDbDesc.db">
                    </label>


                    <h1 class="signin-title">Administateur de la base ( FIXME db design ...)</h1>
                    <label class="item item-input signin-item">
                        <input type="text" placeholder="Nom" ng-model="c.confDbDesc.id">
                    </label>

                    <label class="item item-input signin-item">
                        <input type="password" placeholder="Mot de passe" ng-model="c.confDbDesc.psw">
                    </label>

                    {{c.confDbDesc}}
                    <!--{{c.sPouch.dbs.list}}-->
                    {{c.activeDbDesc}}
                    <!--<h1 class="signin-title">Bases de données connus</h1>-->
                    <!--<select > TODO </select>-->
                </div>


                <div class="signin-valid-button">
                    <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                            ng-click="c.syncro()">
                        SYNCRO
                    </button>
                    <div class="list">

                        <select ng-model="c.activeDbDesc"
                                ng-options="item as item.db for item in c.sPouch.dbs">
                        </select>

                        <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                                ng-click="c.clearDb(c.activeDbDesc)">
                            CLEAR DB
                        </button>
                        <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                                ng-click="c.replicationInitiale()">
                            Valide
                        </button>
                    </div>

                </div>


                <!--loader-->
                <div ng-show="c.sPouch.syncState.clonning">
                    <div style="z-index:100;position:fixed; width:100%;height:100%;top:0;left:0;background-color:black;opacity:0.8;"></div>
                    <div style="z-index:101;" class="pace pace-active">
                        <div class="pace-progress" data-progress="50"
                             data-progress-text="{{c.sPouch.syncState.actual}}%"
                             style="-webkit-transform: translate3d(50%, 0px, 0px); -ms-transform: translate3d(50%, 0px, 0px); transform: translate3d(50%, 0px, 0px);">
                            <div class="pace-progress-inner"></div>
                        </div>
                        <div class="pace-activity">
                        </div>
                    </div>
                </div>

                <!--essai note-->
                <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                        ng-click="c.note()">
                    Note
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>