<ion-view view-title="Sign-In" class="signin-view">

    <ion-content>
        <div class="row">
            <div class="col col-50 col-offset-25 signin-form">
                <h1 class="signin-title">Selection de la base de donnée</h1>

                <div class="list">
                    <label class="item item-input signin-item">
                        <input type="text" placeholder="adresse" ng-model="user.username">
                    </label>
                    <label class="item item-input signin-item">
                        <input type="number" placeholder="port" ng-model="user.password">
                    </label>

                    <label class="item item-input signin-item">
                        <input type="text" placeholder="Nom" ng-model="admin.id">
                    </label>
                    <label class="item item-input signin-item">
                        <input type="password" placeholder="Mot de passe" ng-model="admin.psw">
                    </label>


                    <h1 class="signin-title">Administateur de la base ( FIXME db design ...)</h1>
                    <select > </select>
                </div>


                <div class="signin-valid-button">
                    <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                            ng-click="signIn(user)">
                        CONNEXION
                    </button>
                    <p class="text-right">
                        <a href="#/forgot-password">Mot de passe oublié</a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>