<ion-side-menus>
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar>
            <!-- Button / Logout -->
            <ion-nav-buttons side="right">
                <button class=" col-75 button button-icon button-clear ion-power" on-tap="mc.logout()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div id="cargo">
            <!-- Button / Babord menu -->
            <div id="babord" class="side">
                <img src="./img/slider1.png" on-tap="mc.menuDelegate.toggleLeft()"/>
            </div>
            <!-- Button / Tribord menu -->
            <div id="tribord" class="side">
                <img src="./img/slider2.png" on-tap="mc.menuDelegate.toggleRight()"/>
            </div>
            <!-- Content / Map -->
            <ol-map name="main"></ol-map>
            <!-- Button / New object -->
            <div class="fixed-action-btn" style="bottom: 25px;right:25px;">
                <a on-tap="mc.createNewObject()" class="btn-floating btn-large waves-effect waves-light pink">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    </ion-side-menu-content>

    <!-- Content / Babord menu -->
    <ion-side-menu side="left">
        <div ng-include="'templates/babord/' + mc.getBabordView() + '.html'"></div>
    </ion-side-menu>
    <!-- Content / Tribord menu -->
    <ion-side-menu side="right">
        <div ng-include="'templates/tribord/' + mc.sContext.tribordView.active + '.html'"></div>
    </ion-side-menu>
</ion-side-menus>
