<div class="map-div">
    <openlayers id="map"  height="100%" width="100%" custom-layers="true" ol-center="c.sLoc.geoloc" ol-controls="c.controls" ol-defaults="c.defaults" >

        <ol-layer ol-layer-properties="layer" ng-repeat="layer in c.sMapLayer.list|filter:{active:true}"></ol-layer>

        <ol-layer ol-layer-properties="layer" ng-repeat="layer in c.sAppLayer.leaves|filter:{visible:true}" ></ol-layer>

        <!--<ol-layer ol-layer-properties="c.clusterLayer"></ol-layer>-->

        <ol-marker ol-marker-properties="c.centreCarte"></ol-marker>

    </openlayers>
</div>



