<div id="medias">
    <!-- Content / Description -->
    <div style="padding-top: 50px;" class="row">
        <div class="col col-50">
            <ion-list>
                <ion-item on-tap="c.select(file)" ng-class="{'selected' : true}"
                          ng-repeat="file in c.availableFiles">
                    <span style="text-overflow:ellipsis">{{ file.label}}</span>
                </ion-item>
            </ion-list>
        </div>
        <!--Les informations détails d'un fichier-->
        <div ng-show="c.fileDoc" class="col col-50">
            <h5 ng-bind="c.fileDoc.libelle"></h5>
            <p ng-bind="c.fileDoc.description"></p>
            <button type="button" class="btn waves-effect waves-light" ng-click="c.open()">
                <i class="material-icons">folder_open</i>&nbsp;Ouvrir
            </button>
            <button type="button" class="btn waves-effect waves-light" ng-click="c.deleteFile()">
                <i class="material-icons">delete_forever</i>&nbsp;Supprimer
            </button>
        </div>
    </div>
</div>