<ion-view>
    <div class="object-form" ng-if="mdc.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md" style="background-color:skyblue">
                    <div class="col col-80 col-offset-10">
                        <div class="sirs-card">

                <div class="sirs-card-content">

                    <span class="blue-text text-darken-2 ">Prendre une photo ou une note</span><br>
                    <!--<div class="spacer"></div>-->
                    <!--Les buttons de medias-->
                    <div class="text-center">
                <button type="button" class=" btn btn-large waves-effect waves-teal"
                    on-tap="mdc.takePhoto()">
                    <i class="material-icons left">camera_alt</i>Prendre une photo
                </button>

                <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="mdc.drawNote()">
                    <i class="material-icons left">border_color</i>Déssiner une note
                </button>
                 </div>

                <div class="pics row" ng-if="mdc.mediaOptions.id !=='' ">
                    <div class="pic col col-25">
                        <div class="pic-quicklook">
                            <img alt="Photo non disponible sur le mobile"
                                style="height: 50px;"
                                 ng-src="{{mdc.getPhotoPath(mdc.mediaOptions)}}"/>
                        </div>
                    </div>
                </div>
            <div class="row">
                <span class="left blue-text text-darken-2">Depuis un appareil externe</span>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <input type="text" ng-model="mdc.mediaOptions.designation" placeholder="Numéro de photo">
            </div>
            <div class="spacer"></div>
            <span class="left blue-text text-darken-2">Position</span><br>
            <div class="spacer"></div>
            <button type="button" class="left btn btn-large waves-effect waves-teal"
                on-tap="mdc.selectPos()">
                Enregistrer une position GPS
            </button>

            <div ng-if="mdc.mediaOptions.positionDebut !== ''" class="sirs-field-inline">
                <span class="sirs-field-title">&nbsp;&nbsp;Position&nbsp; : &nbsp;</span>
                <span class="sirs-field-value">{{mdc.mediaOptions.positionDebut}}</span>
            </div>

            <br>
            <div class="spacer"></div>
            <div class="row">
                <select ng-model="mdc.mediaOptions.orientationPhoto"
                    class="browser-default">
                    <option value="" disabled selected>Orientation</option>
                    <option ng-repeat="v in mdc.orientations"
                        value="{{v.id}}">{{v.value.libelle}}</option>
                </select><br>

                <select ng-model="mdc.mediaOptions.coteId"
                    class="browser-default">
                    <option value="" disabled selected>Côté</option>
                    <option ng-repeat="vv in mdc.cotes"
                        value="{{vv.id}}">{{vv.value.libelle}}</option>
                </select><br>
            </div>

            <div class="row">
                <input type="text" ng-model="mdc.mediaOptions.commentaire" placeholder="Commentaire">
            </div>




    </div>

    <div class="sirs-card-action">
        <a href="" class="btn-flat waves-effect waves-teal"
           on-tap="mdc.back()">
            <i class="material-icons left">arrow_back</i>Annuler
        </a>
        <button type="button" class="btn pink waves-effect waves-teal right"
                ng-class="{disabled: objectForm.$invalid}" ng-disabled="objectForm.$invalid"
                on-tap="mdc.save()">
            <i class="material-icons left">check</i>Terminer
        </button>
    </div>

</div>
                    </div>
                </div>
        </ion-content>
    </div> <!--End of the media Form -->

    <!-- Position Map -->
    <div ng-include="'templates/position_edit.html'"
         ng-if="mdc.view === 'map'"
         ng-init="save = mdc.handlePos; exit = mdc.backToForm">
    </div>

    <!-- Note -->
    <div ng-include="'templates/note_edit.html'" ng-if="mdc.view === 'note'"
     ng-init="save = mdc.saveNote; exit = mdc.backToForm">
    </div>

</ion-view>