<ion-view id="medias" ng-controller="DocumentGalleryController as c2">
    <ion-header-bar>
        <a href="#/main" class="col-10 button button-icon button-clear ion-arrow-left-a"></a>
        <h1 class="title">Annuler</h1>
    </ion-header-bar>

    <ion-content class="has-header">
        <!-- Content / Description -->
        <div style="position:relative;">
            <h-tree ng-hide="c2.fileDoc" size="3" tops="c2.roots" children="c2.children(node)" onselect="c2.select(node)"></h-tree>
            <div ng-show="c2.fileDoc" class="description">
                <h3 ng-bind="c2.fileDoc.libelle"></h3>
                <p ng-bind="c2.fileDoc.description"></p>
                <button type="button" class="btn waves-effect waves-light" ng-click="c2.fileDoc = undefined">
                    <i class="material-icons">keyboard_arrow_left</i>&nbsp;Retour
                </button>
                <button type="button" class="btn waves-effect waves-light" ng-click="c2.open()">
                    <i class="material-icons">folder_open</i>&nbsp;Ouvrir
                </button>
                <button type="button" class="btn waves-effect waves-light" ng-click="c2.deleteFile()">
                    <i class="material-icons">delete_forever</i>&nbsp;Supprimer
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>