
    <!--Tab for the Addphoto or draw note-->
    <div class="sirs-nav-tabs">
        <!-- Tab / Prendre une photo -->
        <span class="sirs-tab waves-effect waves-teal" ng-class="{active: mdc.tabOptions.tab === 'photo'}"
              on-tap="mdc.tabOptions.setTab('photo')">Prendre une photo</span>
        <!-- Tab / Prendre une note -->
        <span class="sirs-tab waves-effect waves-teal" ng-class="{active: mdc.tabOptions.tab === 'note'}"
              on-tap="mdc.tabOptions.setTab('note')">Prendre une note</span>
    </div>

<div class="sirs-card">

    <div class="sirs-card-content" ng-switch="mdc.tabOptions.tab">
        <!-- The case of photo -->
        <div ng-switch-when="photo">
            <span class="blue-text text-darken-2 ">Prendre une photo</span><br>
            <div class="spacer"></div>
            <!--Les buttons de medias-->
            <button type="button" class="left btn btn-large waves-effect waves-teal" on-tap="mdc.takePhoto()">
                <i class="material-icons left">camera_alt</i>Prendre une photo
            </button><br>
            <div class="spacer"></div>
            <div class="row">
                <span class="left blue-text text-darken-2">Depuis un appareil externe</span>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <input type="text" ng-model="mdc.mediaOptions.extNumPhoto" placeholder="Numéro de photo">
            </div>
            <div class="spacer"></div>
            <span class="left blue-text text-darken-2">Position</span><br>
            <div class="spacer"></div>
            <button type="button" class="left btn btn-large waves-effect waves-teal"
                on-tap="mdc.goToPhoto()">
                Enregistrer une position GPS
            </button><br>
            <div class="spacer"></div>
            <div class="row">
                <select ng-model="mdc.mediaOptions.orientation"
                    class="browser-default">
                    <option value="" disabled selected>Orientation</option>
                    <option ng-repeat="v in mdc.orientations"
                        value="v.id">{{v.value.libelle}}</option>
                </select><br>

                <select ng-model="mdc.mediaOptions.cote"
                    class="browser-default">
                    <option value="" disabled selected>Côté</option>
                    <option ng-repeat="vv in mdc.cotes"
                        value="vv.id">{{vv.value.libelle}}</option>
                </select><br>
            </div>

            <div class="row">
                <input type="text" ng-model="mdc.mediaOptions.commentaire" placeholder="Commentaire">
            </div>

        </div>

        <!-- The case of note -->
        <div ng-switch-when="note">
            <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="c.drawNote()">
                <i class="material-icons left">border_color</i>Déssiner une note
            </button>
        </div>

    </div>

    <div class="sirs-card-action">
        <a href="" class="btn-flat waves-effect waves-teal"
           on-tap="mdc.back()">
            <i class="material-icons left">arrow_back</i>Annuler
        </a>
        <button type="button" class="btn pink waves-effect waves-teal right"
                ng-class="{disabled: objectForm.$invalid}" ng-disabled="objectForm.$invalid"
                on-tap="mdc.save()">
            <i class="material-icons left">check</i>Terminer
        </button>
    </div>

</div>