<ion-view id="objectEdit">

    <!-- Form -->
    <div class="object-form" ng-if="c.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md">
                <div class="col col-80 col-offset-10">
                    <div class="sirs-card" ng-form="objectForm">

                        <!-- Content -->
                        <div class="sirs-card-content" ng-switch="c.tab">
                            <h2 class="sirs-card-title" ng-show="c.isNewObject">Nouveau/nouvelle {{c.objectType}}</h2>
                            <h2 class="sirs-card-title" ng-hide="c.isNewObject">Fermer un(e) {{c.objectType}}</h2>

                            <div class="sirs-nav-tabs">
                                <!-- Tab / Fields -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'fields'}" on-tap="c.setTab('fields')">Attributs</span>
                                <!-- Tab / Medias -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'medias'}" on-tap="c.setTab('medias')">Medias</span>
                            </div>

                            <!-- Content / Fields -->
                            <div ng-switch-when="fields">
                                <!-- Content / Fields / Common -->
                                <div class="common">
                                    <div class="sirs-field">
                                        <label for="designation" class="active">Désignation</label>
                                        <input id="designation" type="text" class="validate" required/>
                                    </div>
                                    <div class="switch">
                                        <label>
                                            Objet ponctuel
                                            <input type="checkbox" ng-model="c.isLinear"/>
                                            <span class="lever"></span>
                                            Objet linéaire
                                        </label>
                                    </div>
                                    <div class="sirs-field-inline">
                                <span class="sirs-field-title">Position
                                    <span ng-if="c.isLinear && !c.objectDoc.positionDebut"> de début</span>
                                    <span ng-if="c.objectDoc.positionDebut"> de fin</span> :
                                </span>
                                        <span class="sirs-field-value">{{c.geoloc | lonlat:'à définir'}}</span>
                                    </div>
                                    <div class="position-action">
                                        <button class="btn waves-effect waves-light" on-tap="c.locateMe()">
                                            <i class="material-icons center">gps_fixed</i>
                                        </button>
                                        <button class="btn waves-effect waves-light" on-tap="c.locateMe()">
                                            <i class="material-icons center">edit</i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Content / Fields / Specific -->
                                <div class="specific" ng-include="'templates/forms/' +  c.objectType + '.html'"></div>
                            </div>

                            <!-- Content / Medias -->
                            <div class="medias" ng-switch-when="medias">
                                <div class="pics row">
                                    <div class="pic col col-25" ng-repeat="photo in c.photos track by $index">
                                        <div class="pic-quicklook">
                                            <img ng-src="{{c.mediaPath + '/' + photo.chemin}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <!--<button type="button" class="btn waves-effect waves-teal" on-tap="c.recordAudio()">-->
                                    <!--<i class="material-icons center">mic</i>-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="c.takePhoto()">
                                        <i class="material-icons left">camera_alt</i>Prendre une photo
                                    </button>
                                    <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="c.drawNote()">
                                        <i class="material-icons left">border_color</i>Déssiner une note
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Actions -->
                        <div class="sirs-card-action">
                            <a href="#/main" class="btn-flat waves-effect waves-teal">
                                <i class="material-icons left">arrow_back</i>Annuler
                            </a>
                            <button type="button" class="btn pink waves-effect waves-teal right"
                                    ng-class="{disabled: objectForm.$invalid}" ng-disabled="objectForm.$invalid" on-tap="c.save()">
                                <i class="material-icons left">check</i>Terminer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>

    <!-- Note -->
    <div class="object-note" ng-if="c.view === 'note'" ng-controller="cNote as cn" ng-init="cn.setup(c.objectDoc._id, c.photos)">
        <ion-header-bar>
            <header class="bar bar-header bar-stable noteHeader">
                <button class="button button-icon button-clear ion-arrow-left-a" ng-click="c.view = 'form'"></button>
                <span>Prise de note</span>
                <button class="button button-icon button-clear ion-done right" ng-click="cn.save(); c.view = 'form'"> VALIDER </button>
            </header>
        </ion-header-bar>
        <div id="bd-wrapper">
            <div class="left-bloc">
                <div class="header-bloc">
                    <div class="waves-effect waves-light img-action" id="drawing-mode" style="background:#FFEB3B;">
                        <img src="img/note-dessin.png"/>
                    </div>
                    <div class="waves-effect waves-light img-action" id="text-mode">
                        <img src="img/note-text.png"/>
                    </div>
                    <div class="waves-effect waves-light img-action" id="edit-mode">
                        <img src="img/note-edit.png"/>
                    </div>
                    <div class="waves-effect waves-light img-action" id="clear-canvas">
                        <img src="img/note-gomme.png"/>
                    </div>
                </div>
                <div class="list" id="text-mode-options" style="display:none;">
                    <label class="item item-input signin-item">
                        <textarea rows="10" cols="50" ng-model="c.currentText"></textarea>
                    </label>
                    <button class="waves-effect waves-light btn bouton-cache" ng-click="c.write(c.currentText)">
                        Ecrire du texte
                    </button>
                </div>
                <div id="drawing-mode-options">
                    <label for="drawing-mode-selector">Mode:</label>
                    <select id="drawing-mode-selector" class="browser-default">
                        <option>Pencil</option>
                        <option>Circle</option>
                        <option>Spray</option>
                        <option>Pattern</option>
                        <option>hline</option>
                        <option>vline</option>
                        <option>square</option>
                        <option>diamond</option>
                        <option>texture</option>
                    </select><br/>
                    <label for="drawing-line-width">Line width:</label>
                    <span class="info">30</span><input type="range" value="10" min="0" max="150" id="drawing-line-width"><br/>
                    <label for="drawing-color">Line color:</label>
                    <input type="color" value="#005E7A" id="drawing-color"><br/>
                    <label for="drawing-shadow-color">Shadow color:</label>
                    <input type="color" value="#005E7A" id="drawing-shadow-color"><br/>
                    <label for="drawing-shadow-width">Shadow width:</label>
                    <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br/>
                    <label for="drawing-shadow-offset">Shadow offset:</label>
                    <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset"><br/>
                </div>
            </div>
            <div id="canvas-div" class="right-bloc">
                <canvas id="canvasFabric"></canvas>
            </div>
        </div>
    </div>
</ion-view>