<ion-view id="objectEdit">
    <!-- Form -->
    <div class="object-form" ng-if="c.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md">
                <div class="col col-80 col-offset-10">
                    <div class="sirs-card" ng-form="objectForm">
                        <!-- Content -->
                        <div class="sirs-card-content" ng-switch="c.tab">
                            <h2 class="sirs-card-title" ng-show="c.isNew">Nouveau/nouvelle {{c.type}}</h2>
                            <h2 class="sirs-card-title" ng-show="!c.isNew && !c.isClosed">Fermer un(e) {{c.type}}</h2>
                            <h2 class="sirs-card-title" ng-show="!c.isNew && c.isClosed">Détail d'un(e) {{c.type}}</h2>
                            <div style="z-index: 9999; right: 60px; top: 5px; position: fixed;">
                                <span>Précision du signal GPS :  {{c.gpsAccuracy}} m </span>
                            </div>

                            <div class="sirs-nav-tabs"
                                 ng-if="c.type !== 'BorneDigue' && c.type !== 'TronconDigue' && c.type !== 'Desordre' && c.type !== 'Berge'">
                                <!-- Tab / Fields -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'fields'}"
                                      on-tap="c.setTab('fields')">Attributs</span>
                                <!-- Tab / Medias -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'medias'}"
                                      on-tap="c.setTab('medias')">Medias</span>
                            </div>

                            <!-- Content / Fields -->
                            <div ng-switch-when="fields">
                                <!-- Content / Fields / Common -->
                                <div class="common">
                                    <div class="sirs-field">
                                        <label for="designation" class="active">Désignation</label>
                                        <input id="designation" type="text" class="validate"
                                               ng-model="c.doc.designation"
                                               placeholder="Ne pas remplir la désignation si vous souhaitez appliquer l'auto-incrémentation."/>
                                    </div>
                                    <div ng-if="c.isNew || c.isClosed" class="switch">
                                        <label>
                                            Objet ponctuel
                                            <input type="checkbox" ng-model="c.isLinear"
                                                   ng-change="c.changeObjectType()"/>
                                            <span class="lever"></span>
                                            Objet linéaire
                                        </label>
                                    </div>

                                    <div class="sirs-field-inline" ng-if="!c.isLinear">
                                        <span class="sirs-field-title">Position : </span>
                                        <span class="sirs-field-value">{{c.getStartPos() | lonlat:'à définir'}}</span>
                                    </div>

                                    <div class="sirs-field-inline" ng-if="c.isLinear" style="overflow: hidden;">
                                        <span class="sirs-field-title"
                                              style="line-height: 37px;">Position de début :</span>
                                        <span class="sirs-field-value">{{c.getStartPos() | lonlat:'à définir'}}</span>
                                        <div class="position-action" ng-if="c.isLinear && !c.isNew"
                                             style="display: inline;float: right;">
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.locateMe();c.linearPosEditionHandler.startPoint = true;">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.selectPos();c.linearPosEditionHandler.startPoint = true;">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="sirs-field-inline" ng-if="c.isLinear && !c.isNew"
                                         style="margin-top: 5px;overflow: hidden;">
                                        <span class="sirs-field-title"
                                              style="line-height: 37px;">Position de fin :</span>
                                        <span class="sirs-field-value">{{c.getEndPos() | lonlat:'à définir'}}</span>
                                        <div class="position-action" style="display: inline;float: right;">
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.locateMe();c.linearPosEditionHandler.endPoint = true;">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.selectPos();c.linearPosEditionHandler.endPoint = true;">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="position-action" ng-if="!c.isLinear || c.isNew">
                                        <button class="btn waves-effect waves-light" on-tap="c.locateMe()">
                                            <i class="material-icons center">gps_fixed</i>
                                        </button>
                                        <button class="btn waves-effect waves-light" on-tap="c.selectPos()">
                                            <i class="material-icons center">edit</i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row"
                                     ng-if="c.type !== 'BorneDigue' && c.type !== 'TronconDigue' && c.type !== 'berge' && c.doc.positionDebut">
                                    <div class="sirs-field col col-100">
                                        <label for="trancon" class="active">La liste des Tronçons les plus proche
                                            (environ 1000 mètres): </label>
                                        <select id="trancon"
                                                class="browser-default"
                                                ng-model="c.doc.linearId"
                                                ng-options="troncon._id as troncon.libelle for troncon in c.troncons">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <!--Fin de Test Hilmi Pour calculer le plus proche Trançon-->

                                <!-- Content / Fields / Specific -->
                                <div class="specific" ng-include="'templates/forms/' +  c.type + '.html'"></div>
                                <!-- Content / Fields / Description -->
                                <div class="sirs-field">
                                    <label for="commentaire" class="active">Commentaire</label>
                                    <textarea id="commentaire" class="materialize-textarea"
                                              ng-model="c.doc.commentaire"></textarea>
                                </div>
                            </div>

                            <!--************************* Fin field Form ***************************-->

                            <!-- Content / Medias -->
                            <div class="medias" ng-switch-when="medias">
                                <ion-scroll direction="x">
                                    <div class="pics row">
                                        <div class="pic col col-25" ng-init="c.loadImage(photo);"
                                             ng-repeat="photo in c.doc.photos track by photo.id">
                                            <div class="pic-quicklook">
                                                <div class="progress" ng-if="!c.loaded[photo.id]">
                                                    <div class="indeterminate"></div>
                                                </div>
                                                <img ng-if="c.loaded[photo.id]" on-tap="c.open(photo)"
                                                     alt="Photo non disponible sur le mobile"
                                                     ng-src="{{c.getPhotoPath(photo)}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </ion-scroll>
                                <div class="text-center">
                                    <!--<button type="button" class="btn waves-effect waves-teal" on-tap="c.recordAudio()">-->
                                    <!--<i class="material-icons center">mic</i>-->
                                    <!--</button>-->

                                    <!--@hb Ajouter une medias-->
                                    <button type="button" class="btn btn-large waves-effect waves-teal"
                                            on-tap="c.goToMedia()">
                                        <i class="material-icons left">perm_media</i>Ajouter un media
                                    </button>

                                </div>
                            </div>
                        </div>

                        <!-- Actions -->
                        <div class="sirs-card-action">
                            <a href="#/main" class="btn-flat waves-effect waves-teal">
                                <i class="material-icons left">arrow_back</i>Annuler
                            </a>
                            <button type="button" class="btn pink waves-effect waves-teal right"
                                    ng-disabled="objectForm.$invalid"
                                    ng-click="c.save()">
                                <i class="material-icons left">check</i>Terminer
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </ion-content>
    </div>


    <!-- Position Map -->
    <div ng-include="'templates/position_edit.html'" ng-if="c.view === 'map'"
         ng-init="save = c.handlePos; exit = c.backToForm"></div>

    <!-- Note -->
    <div ng-include="'templates/note_edit.html'" ng-if="c.view === 'note'"
         ng-init="save = c.saveNote; exit = c.backToForm"></div>

    <!-- Add Media View -->
    <div ng-include="'templates/media.html'" ng-if="c.view === 'media'"
         ng-controller="MediaController as mdc"></div>


</ion-view>