<ion-view id="objectEdit">
    <!-- Form -->
    <div class="object-form" ng-if="c.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md">
                <div class="col col-80 col-offset-10">
                    <div class="sirs-card" ng-form="objectForm">
                        <!-- Content -->
                        <div class="sirs-card-content" ng-switch="c.tab">
                            <h2 class="sirs-card-title" ng-show="c.isNew">Nouveau/nouvelle {{c.type}}</h2>
                            <h2 class="sirs-card-title" ng-show="!c.isNew && !c.isClosed">Fermer un(e) {{c.type}}</h2>
                            <h2 class="sirs-card-title" ng-show="!c.isNew && c.isClosed">Détail d'un(e) {{c.type}}</h2>
                            <div class="sirs-nav-tabs"
                                 ng-if="c.type !== 'BorneDigue' && c.type !== 'TronconDigue' && c.type !== 'Desordre' && c.type !== 'Berge' && !c.isDependance()">
                                <!-- Tab / Fields -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'fields'}"
                                      on-tap="c.setTab('fields')">Attributs</span>
                                <!-- Tab / Medias -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'medias'}"
                                      on-tap="c.setTab('medias')">Medias</span>
                            </div>
                            <!-- Content / Fields -->
                            <div ng-switch-when="fields">
                                <!-- Content / Fields / Common -->
                                <div class="common">
                                    <div class="sirs-field">
                                        <label for="designation" class="active">Désignation</label>
                                        <input id="designation" type="text" class="validate"
                                               ng-model="c.doc.designation"
                                               placeholder="Ne pas remplir la désignation si vous souhaitez appliquer l'auto-incrémentation."/>
                                    </div>
                                    <div ng-if="!c.isDependance() && (c.isNew || c.isClosed)" class="switch">
                                        <label>
                                            Objet ponctuel
                                            <input type="checkbox" ng-model="c.isLinear"
                                                   ng-change="c.changeObjectType()"/>
                                            <span class="lever"></span>
                                            Objet linéaire
                                        </label>
                                    </div>

                                    <div ng-if="c.isDependance() && (c.isNew || c.isClosed)" class="switch">
                                        <select id="objectType" class="browser-default"
                                                ng-model="c.objDependanceType"
                                                ng-change="c.changeObjectTypeDependance()">
                                            <option ng-value="'point'"
                                                    ng-model="c.objDependanceType"
                                                    ng-change="c.changeObjectTypeDependance()"
                                                    ng-selected="c.objDependanceType === 'point'">
                                                Objet ponctuel
                                            </option>
                                            <option ng-value="'line'"
                                                    ng-model="c.objDependanceType"
                                                    ng-change="c.changeObjectTypeDependance()"
                                                    ng-selected="c.objDependanceType === 'line'">
                                                Objet linéaire
                                            </option>
                                            <option ng-value="'polygon'"
                                                    ng-model="c.objDependanceType"
                                                    ng-change="c.changeObjectTypeDependance()"
                                                    ng-selected="c.objDependanceType === 'polygon'">
                                                Objet polygonale
                                            </option>
                                        </select>
                                    </div>

                                    <div class="sirs-field-inline" ng-if="!c.isLinear && !c.isDependance()">
                                        <span class="sirs-field-title" ng-if="!c.doc.systemeRepId">Position : </span>
                                        <span class="sirs-field-value" ng-if="!c.doc.systemeRepId">{{c.getStartPos() | lonlat:'à définir'}}</span>
                                        <span class="sirs-field-title" ng-if="c.doc.systemeRepId">
                                            Position via la borne : {{c.getStartPosBorne()}}
                                        </span>
                                    </div>
                                    <div class="position-action" ng-if="!c.isLinear && !c.isDependance()">
                                        <button class="btn waves-effect waves-light"
                                                on-tap="c.locateMe()"
                                                ng-if="c.activatedPositionButton()">
                                            <i class="material-icons center">gps_fixed</i>
                                        </button>
                                        <button class="btn waves-effect waves-light"
                                                on-tap="c.selectPos()"
                                                ng-if="c.activatedPositionButton()">
                                            <i class="material-icons center">edit</i>
                                        </button>
                                        <button class="btn waves-effect waves-light"
                                                on-tap="c.selectPosBySR()"
                                                ng-if="c.activatedPositionButton() && !c.isDependance()">
                                            <i class="material-icons center">line_style</i>
                                        </button>
                                    </div>
                                    <div class="sirs-field-inline" ng-if="c.isLinear && !c.isDependance()"
                                         style="overflow: hidden;">
                                        <span class="sirs-field-title"
                                              ng-if="!c.doc.systemeRepId"
                                              style="line-height: 37px;">Position de début :</span>
                                        <span class="sirs-field-value"
                                              ng-if="!c.doc.systemeRepId">{{c.getStartPos() | lonlat:'à définir'}}</span>
                                        <span class="sirs-field-title"
                                              ng-if="c.doc.systemeRepId" style="line-height: 37px;">Position de début via borne : {{c.getStartPosBorne()}}</span>
                                        <div class="position-action"
                                             style="display: inline;float: right;">
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton()"
                                                    on-tap="c.linearPosEditionHandler.startPoint = true;c.linearPosEditionHandler.endPoint = false;c.locateMe();">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton()"
                                                    on-tap="c.linearPosEditionHandler.startPoint = true;c.linearPosEditionHandler.endPoint = false;c.selectPos();">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton() && !c.isDependance()"
                                                    on-tap="c.linearPosEditionHandler.startPoint = true;c.linearPosEditionHandler.endPoint = false;c.selectPosBySR();">
                                                <i class="material-icons center">line_style</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="sirs-field-inline" ng-if="c.isLinear && !c.isNew && !c.isDependance()"
                                         style="margin-top: 5px;overflow: hidden;">
                                        <span class="sirs-field-title"
                                              ng-if="!c.doc.systemeRepId"
                                              style="line-height: 37px;">Position de fin :</span>
                                        <span class="sirs-field-value"
                                              ng-if="!c.doc.systemeRepId">{{c.getEndPos() | lonlat:'à définir'}}</span>
                                        <span class="sirs-field-title"
                                              ng-if="c.doc.systemeRepId"
                                              style="line-height: 37px;">Position de fin via borne : {{c.getEndPosBorne()}}</span>
                                        <div class="position-action" style="display: inline;float: right;">
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton()"
                                                    on-tap="c.linearPosEditionHandler.endPoint = true;c.linearPosEditionHandler.startPoint = false;c.locateMe();">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton()"
                                                    on-tap="c.linearPosEditionHandler.endPoint = true;c.linearPosEditionHandler.startPoint = false;c.selectPos();">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    ng-if="c.activatedPositionButton() && !c.isDependance()"
                                                    on-tap="c.linearPosEditionHandler.endPoint = true;c.linearPosEditionHandler.startPoint = false;c.selectPosBySR();">
                                                <i class="material-icons center">line_style</i>
                                            </button>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="sirs-field-inline"
                                             ng-if="c.isDependance() && c.objDependanceType === 'polygon'">
                                            <span class="sirs-field-title">Dessiner un polygone</span>
                                            <span class="sirs-field-value"></span>
                                        </div>

                                        <div class="sirs-field-inline"
                                             ng-if="c.isDependance() && c.objDependanceType === 'point'">
                                            <span class="sirs-field-title">Position : </span>
                                            <span class="sirs-field-value">{{c.getStartPosDependance() | lonlat:'à définir'}}</span>
                                        </div>

                                        <div class="sirs-field-inline"
                                             ng-if="c.isDependance() && c.objDependanceType === 'line'">
                                            <span class="sirs-field-title">Position de début : </span>
                                            <span class="sirs-field-value">{{c.getStartPosDependance() | lonlat:'à définir'}}</span>
                                        </div>


                                        <div class="position-action" ng-if="c.isDependance()">
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.locateMe()"
                                                    ng-if="c.objDependanceType !== 'polygon'">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.selectPos()"
                                                    ng-if="c.objDependanceType !== 'polygon'">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.drawPolygon()"
                                                    ng-if="c.objDependanceType === 'polygon'">
                                                <i class="material-icons center">format_shapes</i>
                                            </button>
                                        </div>

                                    </div>

                                    <div ng-if="c.isDependance() && c.objDependanceType === 'line' && c.doc.geometry">
                                        <div class="sirs-field-inline"
                                             ng-if="c.isDependance() && c.objDependanceType === 'line'">
                                            <span class="sirs-field-title">Position de fin : </span>
                                            <span class="sirs-field-value">{{c.getEndPosDependance() | lonlat:'à définir'}}</span>
                                        </div>

                                        <div class="position-action" ng-if="c.isDependance()">
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.locateMeEnd()">
                                                <i class="material-icons center">gps_fixed</i>
                                            </button>
                                            <button class="btn waves-effect waves-light"
                                                    on-tap="c.selectPosEnd()">
                                                <i class="material-icons center">edit</i>
                                            </button>
                                        </div>
                                    </div>


                                </div>
                                <div class="row" ng-if="!c.isDependance()">
                                    <div class="sirs-field col col-100">
                                        <label for="trancon" class="active">
                                            La liste des Tronçons
                                        </label>
                                        <select id="trancon"
                                                class="browser-default"
                                                ng-model="c.doc.linearId"
                                                ng-options="troncon.id as troncon.libelle for troncon in c.troncons">
                                        </select>
                                    </div>
                                </div>
                                <div class="row" ng-if="c.objectType === 'DesordreDependance'">
                                    <div class="sirs-field col col-100">
                                        <label for="dependance" class="active">
                                            La liste des Dependances
                                        </label>
                                        <select id="dependance"
                                                class="browser-default"
                                                ng-model="c.doc.dependanceId">
                                            <option></option>
                                            <option ng-repeat="d in c.dependances track by d.id"
                                                    ng-value="d.id"
                                                    ng-model="c.doc.dependanceId"
                                                    ng-change="c.doc.dependanceId = d.id"
                                                    ng-selected="c.doc.dependanceId === d.id">
                                                {{d.doc.libelle ? d.doc.libelle :
                                                (d.doc.designation ? d.doc.designation
                                                :d.id)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- End Date -->
                                <div class="row">
                                    <div class="sirs-field col col-100">
                                        <label for="date_fin" class="active">
                                            La date de fin
                                        </label>
                                        <input id="date_fin" type="date" ng-model="c.dateWrapper"
                                               ng-change="c.formatDate()"/>
                                    </div>
                                </div>

                                <!-- Content / Fields / Specific -->
                                <div class="specific" ng-include="'templates/forms/' +  c.type + '.html'"></div>
                                <!-- Content / Fields / Description -->
                                <div class="sirs-field">
                                    <label for="commentaire" class="active">Commentaire</label>
                                    <textarea id="commentaire" class="materialize-textarea"
                                              ng-model="c.doc.commentaire"></textarea>
                                </div>
                            </div>
                            <!--************************* Fin field Form ***************************-->
                            <!-- Content / Medias -->
                            <div class="medias" ng-switch-when="medias">
                                <ion-scroll direction="x">
                                    <div class="pics row" ng-if="c.showContent">
                                        <div class="pic col col-25" ng-init="c.loadImage(photo);"
                                             ng-repeat="photo in c.doc.photos track by photo.id">
                                            <div class="pic-quicklook">
                                                <div class="progress" ng-if="!c.loaded[photo.id]">
                                                    <div class="indeterminate"></div>
                                                </div>
                                                <img ng-if="c.loaded[photo.id]" on-tap="c.open(photo)"
                                                     alt="Photo non disponible sur le mobile"
                                                     ng-src="{{c.getPhotoPath(photo)}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </ion-scroll>
                                <div class="text-center">
                                    <!--<button type="button" class="btn waves-effect waves-teal" on-tap="c.recordAudio()">-->
                                    <!--<i class="material-icons center">mic</i>-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-large waves-effect waves-teal"
                                            on-tap="c.goToMedia()">
                                        <i class="material-icons left">perm_media</i>Ajouter un media
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Actions -->
                        <div class="sirs-card-action">
                            <a href="#/main" class="btn-flat waves-effect waves-teal">
                                <i class="material-icons left">arrow_back</i>Annuler
                            </a>
                            <button type="button" class="btn pink waves-effect waves-teal right"
                                    ng-disabled="objectForm.$invalid"
                                    ng-click="c.save()">
                                <i class="material-icons left">check</i>Terminer
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <!-- Position Map -->
    <div ng-include="'templates/position_edit.html'" ng-if="c.view === 'map'"
         ng-init="save = (c.isDependance() ? c.handlePosDependance : c.handlePos); exit = c.backToForm"></div>
    <div ng-include="'templates/position_edit.html'" ng-if="c.view === 'mapEnd'"
         ng-init="save = c.handlePosDependanceEnd; exit = c.backToForm"></div>
    <div ng-include="'templates/draw_polygon.html'" ng-if="c.view === 'drawMap'"
         ng-init="save = c.handleDrawPolygon; exit = c.backToForm"></div>
    <!-- Note -->
    <div ng-include="'templates/note_edit.html'" ng-if="c.view === 'note'"
         ng-init="save = c.saveNote; exit = c.backToForm"></div>
    <!-- Add Media View -->
    <div ng-include="'templates/media.html'" ng-if="c.view === 'media'"
         ng-controller="MediaController as mdc"></div>
</ion-view>

<script type="text/ng-template" charset="utf-8" id="borne-position.html">
    <ion-modal-view style="display: block;" ng-controller="ObjectEditPosByBorneController as cp">
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Définir une position via une borne</h1>
            <button class="button button-clear button-positive" ng-click="cp.closeModal()">Annuler</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content style="padding: 0 10px;">
            <div>
                <label>Système de repérage : </label>
                <select id="sr" class="browser-default"
                        ng-if="!cp.endSR"
                        ng-model="cp.systemeReperageId"
                        ng-change="cp.selectSR()">
                    <option></option>
                    <option ng-repeat="systemeReperage in cp.systemeReperageList track by systemeReperage.value._id"
                            ng-value="systemeReperage.value._id"
                            ng-model="cp.systemeReperageId"
                            ng-change="cp.selectSR()"
                            ng-selected="cp.systemeReperageId === systemeReperage.value._id">
                        {{systemeReperage.value.libelle}}
                    </option>
                </select>
                <p ng-if="cp.endSR">{{cp.endSR}}</p>
            </div>
            <div ng-if="cp.systemeReperage">
                <label>Borne du système de repérage : </label>
                <select id="sr" class="browser-default"
                        ng-model="cp.borneId"
                        ng-change="cp.updateBorneLibelle()">
                    <option></option>
                    <option ng-repeat="systemeReperageBorne in cp.systemeReperage.value.systemeReperageBornes"
                            value="{{systemeReperageBorne.borneId}}"
                            ng-model="cp.borneId"
                            ng-change="cp.updateBorneLibelle()"
                            ng-selected="cp.data.borneId === systemeReperageBorne.borneId">
                        {{systemeReperageBorne.libelle}}
                    </option>
                </select>
            </div>
            <div ng-if="cp.systemeReperage">
                <label for="distance" class="active">Distance à la borne (en mètre) : </label>
                <input id="distance" type="number" class="validate"
                       ng-model="cp.data.borne_distance"
                       placeholder=""/>
            </div>
            <div ng-if="cp.systemeReperage">
                <label for="pos" class="active">Position : </label>
                <select id="pos" class="browser-default"
                        ng-model="cp.data.borne_aval">
                    <option ng-value="'false'"
                            ng-model="cp.data.borne_aval"
                            ng-selected="cp.data.borne_aval === 'false'">
                        Amont
                    </option>
                    <option ng-value="'true'"
                            ng-model="cp.data.borne_aval"
                            ng-selected="cp.data.borne_aval === 'true'">
                        Aval
                    </option>
                </select>
            </div>


        </ion-content>
        <ion-footer-bar class="bar-light">
            <div class="col col-33 col-offset-66" style="padding: 0;">
                <a class="waves-effect waves-light btn" ng-click="cp.validate()">
                    <i class="material-icons right">thumb_up</i>
                    Valider</a>
            </div>
        </ion-footer-bar>
    </ion-modal-view>

</script>
