<ion-view id="observationEdit">

    <!-- Form -->
    <div class="observation-form" ng-if="c.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md">
                <div class="col col-80 col-offset-10">
                    <div class="sirs-card" ng-form="observationForm">

                        <!-- Content -->
                        <div class="sirs-card-content" ng-switch="c.tab">
                            <h2 class="sirs-card-title" ng-show="c.isNewObject">Nouvelle Observation</h2>
                            <h2 class="sirs-card-title" ng-hide="c.isNewObject">Editer une Observation</h2>

                            <div class="sirs-nav-tabs">
                                <!-- Tab / Medias -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'medias'}"
                                      on-tap="c.setTab('medias')">Medias</span>
                                <!-- Tab / evolution -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'evolution'}"
                                      on-tap="c.setTab('evolution')">Évolution</span>
                                <!-- Tab / urgence -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'urgence'}"
                                      on-tap="c.setTab('evolution')">Urgence</span>
                                <!-- Tab / nombre -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'nombre'}"
                                      on-tap="c.setTab('evolution')">Nombre</span>
                                <!-- Tab / suite à apporter -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'suite'}"
                                      on-tap="c.setTab('evolution')">Suite à apporter</span>
                                <!-- Tab / observateur -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'observateur'}"
                                      on-tap="c.setTab('evolution')">Observateur</span>
                            </div>

                            <!-- Content / Medias -->
                            <div class="medias" ng-switch-when="medias">
                                <div class="pics row">
                                    <div class="pic col col-25" ng-repeat="photo in c.photos track by photo.id">
                                        <div class="pic-quicklook">
                                            <img alt="Photo non disponible sur le mobile" ng-src="{{c.getPhotoPath(photo)}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <!--<button type="button" class="btn waves-effect waves-teal" on-tap="c.recordAudio()">-->
                                    <!--<i class="material-icons center">mic</i>-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="c.takePhoto()">
                                        <i class="material-icons left">camera_alt</i>Prendre une photo
                                    </button>
                                    <button type="button" class="btn btn-large waves-effect waves-teal" on-tap="c.drawNote()">
                                        <i class="material-icons left">border_color</i>Déssiner une note
                                    </button>
                                </div>
                            </div>

                            <!-- Content / Evolution -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea" ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                            <!-- Content / urgence -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea" ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                            <!-- Content / nombre -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea" ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                            <!-- Content / suite à apporter -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea" ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                            <!-- Content / observateur -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea" ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Actions -->
                        <div class="sirs-card-action">
                            <a href="#/main" class="btn-flat waves-effect waves-teal">
                                <i class="material-icons left">arrow_back</i>Annuler
                            </a>
                            <button type="button" class="btn pink waves-effect waves-teal right"
                                    ng-class="{disabled: observationForm.$invalid}" ng-disabled="observationForm.$invalid" on-tap="c.save()">
                                <i class="material-icons left">check</i>Terminer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>

    <!-- Note -->
    <div ng-include="'templates/note_edit.html'" ng-if="c.view === 'note'"
         ng-init="save = c.saveNote; exit = c.backToForm"></div>
</ion-view>