<ion-view id="observationEdit">

    <!-- Form -->
    <div class="observation-form" ng-if="c.view === 'form'">
        <ion-content delegate-handle="formScroll">
            <div class="row responsive-md">
                <div class="col col-80 col-offset-10">
                    <div class="sirs-card" ng-form="observationForm">

                        <!-- Content -->
                        <div class="sirs-card-content" ng-switch="c.tab">
                            <h2 class="sirs-card-title" ng-show="c.isNewObject">Nouvelle Observation</h2>
                            <h2 class="sirs-card-title" ng-hide="c.isNewObject">Editer une Observation</h2>

                            <div class="sirs-nav-tabs">
                                <!-- Tab / Medias -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'medias'}"
                                      on-tap="c.setTab('medias')">Medias</span>
                                <!-- Tab / evolution -->
                                <span class="sirs-tab waves-effect waves-teal"
                                      ng-class="{active: c.tab === 'evolution'}"
                                      on-tap="c.setTab('evolution')">Évolution</span>
                                <!-- Tab / urgence -->
                                <span ng-if="c.doc['@class']==='fr.sirs.core.model.Observation'"
                                      class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'urgence'}"
                                      on-tap="c.setTab('urgence')">Urgence</span>
                                <!-- Tab / nombre -->
                                <span ng-if="c.doc['@class']==='fr.sirs.core.model.Observation'"
                                      class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'nombre'}"
                                      on-tap="c.setTab('nombre')">Nombre</span>
                                <!-- Tab / suite à apporter -->
                                <span class="sirs-tab waves-effect waves-teal" ng-class="{active: c.tab === 'suite'}"
                                      on-tap="c.setTab('suite')">Suite à apporter</span>
                                <!-- Tab / observateur -->
                                <span class="sirs-tab waves-effect waves-teal"
                                      ng-class="{active: c.tab === 'observateur'}"
                                      on-tap="c.setTab('observateur')">Observateur</span>
                            </div>

                            <!-- Content / Medias -->
                            <div class="medias" ng-switch-when="medias">
                                <div ng-if="c.showContent" class="pics row">
                                    <div class="pic col col-25" ng-if="c.mediaPath" ng-init="c.loadImage(photo);"
                                         ng-repeat="photo in c.photos track by photo.id">
                                        <div class="progress" ng-if="!c.loaded[photo.id]">
                                            <div class="indeterminate"></div>
                                        </div>
                                        <div class="pic-quicklook" ng-if="c.loaded[photo.id]">
                                            <img alt="Photo non disponible sur le mobile" on-tap="c.open(photo)"
                                                 ng-src="{{c.getPhotoPath(photo)}}"/>
                                        </div>
                                    </div>
                                </div>


                                <div class="text-center">
                                    <!--<button type="button" class="btn waves-effect waves-teal" on-tap="c.recordAudio()">-->
                                    <!--<i class="material-icons center">mic</i>-->
                                    <!--</button>-->

                                    <button type="button" class="btn btn-large waves-effect waves-teal"
                                            on-tap="c.goToMedia()">
                                        <i class="material-icons left">perm_media</i>
                                        Ajouter un media
                                    </button>
                                </div>
                            </div>

                            <!-- Content / Evolution -->
                            <div class="evolution" ng-switch-when="evolution">
                                <div class="sirs-field">
                                    <label for="description" class="active">Description</label>
                                    <textarea id="description" class="materialize-textarea"
                                              ng-model="c.doc.evolution"></textarea>
                                </div>
                            </div>

                            <!-- Content / urgence -->
                            <div class="urgence" ng-switch-when="urgence">
                                <div ng-if="c.showText('fullName')">
                                    <select id="urgenceList" class="browser-default"
                                            ng-model="c.urgence"
                                            ng-options="urgence.id as urgence.libelle for urgence  in c.urgenceList.sort(c.compareRef)"
                                            ng-change="c.changeUrgence()">
                                    </select>
                                </div>
                                <div ng-if="c.showText('abstract')">
                                    <select id="urgenceList" class="browser-default">
                                        <option ng-repeat="urgence in c.urgenceList.sort(c.compareRef) track by urgence.id"
                                                ng-value="urgence.id"
                                                ng-model="c.urgence"
                                                ng-change="c.changeUrgence()"
                                                ng-selected="c.urgence === urgence.id">
                                            {{urgence.abrege ? urgence.abrege : urgence.designation + ' : ' +
                                            urgence.libelle}}
                                        </option>
                                    </select>
                                </div>
                                <div ng-if="c.showText('both')">
                                    <select id="urgenceList" class="browser-default">
                                        <option ng-repeat="urgence in c.urgenceList.sort(c.compareRef) track by urgence.id"
                                                ng-value="urgence.id"
                                                ng-model="c.urgence"
                                                ng-change="c.changeUrgence()"
                                                ng-selected="c.urgence === urgence.id">
                                            {{urgence.abrege ? (urgence.abrege + ' : ' + urgence.libelle) :
                                            (urgence.designation + ' : ' + urgence.libelle)}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- Content / nombre -->
                            <div class="nombre" ng-switch-when="nombre">
                                <div class="sirs-field">
                                    <label for="nombre_Desordres" class="active">Nombre Desordres</label>
                                    <input type="number" id="nombre_Desordres" class="materialize-textarea"
                                           ng-model="c.doc.nombreDesordres"/>
                                </div>
                            </div>

                            <!-- Content / suite à apporter -->
                            <div class="suite" ng-switch-when="suite">
                                <div class="sirs-field">
                                    <label for="suite_feild" class="active">Suite à apporter</label>
                                    <textarea id="suite_feild" class="materialize-textarea"
                                              ng-model="c.doc.suite"></textarea>
                                </div>
                            </div>

                            <!-- Content / observateur -->
                            <div class="observateur" ng-switch-when="observateur">
                                <select id="contactList" class="browser-default" ng-model="c.contact"
                                        ng-change="c.changeContact()">
                                    <option ng-repeat="contact in c.contactList | orderBy : 'doc.nom'"
                                            ng-selected="contact.id === c.contact"
                                            value="{{contact.id}}">{{contact.doc.nom}} {{contact.doc.prenom}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <!-- Actions -->
                        <div class="sirs-card-action">
                            <a href="#/main" class="btn-flat waves-effect waves-teal">
                                <i class="material-icons left">arrow_back</i>Annuler
                            </a>
                            <button type="button" class="btn pink waves-effect waves-teal right"
                                    ng-class="{disabled: observationForm.$invalid}"
                                    ng-disabled="observationForm.$invalid" on-tap="c.save()">
                                <i class="material-icons left">check</i>Terminer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>

    <!-- Note -->
    <div ng-include="'templates/note_edit.html'" ng-if="c.view === 'note'"
         ng-init="save = c.saveNote; exit = c.backToForm"></div>

    <!-- Add Media View -->
    <div ng-include="'templates/media.html'" ng-if="c.view === 'media'"
         ng-controller="MediaObservationController as mdc"></div>
</ion-view>
<script type="text/ng-template" charset="utf-8" id="borne-position.html">
    <ion-modal-view style="display: block;" ng-controller="ObjectEditPosByBorneController as cp">
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Définir une position via une borne</h1>
            <button class="button button-clear button-positive" ng-click="cp.closeModal()">Annuler</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content style="padding: 0 10px;">
            <div>
                <label>Système de repérage : </label>
                <select id="sr" class="browser-default"
                        ng-if="!cp.endSR"
                        ng-model="cp.systemeReperageId"
                        ng-change="cp.selectSR()">
                    <option></option>
                    <option ng-repeat="systemeReperage in cp.systemeReperageList track by systemeReperage.value._id"
                            ng-value="systemeReperage.value._id"
                            ng-model="cp.systemeReperageId"
                            ng-change="cp.selectSR()"
                            ng-selected="cp.systemeReperageId === systemeReperage.value._id">
                        {{systemeReperage.value.libelle}}
                    </option>
                </select>
                <p ng-if="cp.endSR">{{cp.endSR}}</p>
            </div>
            <div ng-if="cp.systemeReperage">
                <label>Borne du système de repérage : </label>
                <select id="sr" class="browser-default"
                        ng-model="cp.borneId"
                        ng-change="cp.updateBorneLibelle()">
                    <option></option>
                    <option ng-repeat="systemeReperageBorne in cp.systemeReperage.value.systemeReperageBornes"
                            value="{{systemeReperageBorne.borneId}}"
                            ng-model="cp.borneId"
                            ng-change="cp.updateBorneLibelle()"
                            ng-selected="cp.data.borneId === systemeReperageBorne.borneId">
                        {{systemeReperageBorne.libelle}}
                    </option>
                </select>
            </div>
            <div ng-if="cp.systemeReperage">
                <label for="distance" class="active">Distance à la borne (en mètre) : </label>
                <input id="distance" type="number" class="validate"
                       ng-model="cp.data.borne_distance"
                       placeholder=""/>
            </div>
            <div ng-if="cp.systemeReperage">
                <label for="pos" class="active">Position : </label>
                <select id="pos" class="browser-default"
                        ng-model="cp.data.borne_aval">
                    <option ng-value="'false'"
                            ng-model="cp.data.borne_aval"
                            ng-selected="cp.data.borne_aval === 'false'">
                        Amont
                    </option>
                    <option ng-value="'true'"
                            ng-model="cp.data.borne_aval"
                            ng-selected="cp.data.borne_aval === 'true'">
                        Aval
                    </option>
                </select>
            </div>


        </ion-content>
        <ion-footer-bar class="bar-light">
            <div class="col col-33 col-offset-66" style="padding: 0;">
                <a class="waves-effect waves-light btn" ng-click="cp.validate()">
                    <i class="material-icons right">thumb_up</i>
                    Valider</a>
            </div>
        </ion-footer-bar>
    </ion-modal-view>

</script>
