<div id="positionEdit" ng-controller="ObjectEditPosByBorneController as cp" ng-init="cp.setup(save, exit, endSR)">
    <ion-header-bar>
        <header class="bar bar-header bar-stable noteHeader">
            <button class="button button-icon button-clear ion-arrow-left-a" on-tap="cp.exit()"></button>
            <span>Définir une position via une borne</span>
            <button class="button button-icon button-clear ion-done right"
                    on-tap="cp.validate()">
                VALIDER
            </button>
        </header>
    </ion-header-bar>
    <div class="map-container">
        <ol-map name="position_by_borne"></ol-map>
    </div>
    <div style="position: absolute; top: 60px; right: 10px; width: 300px; background-color: #FFFFFF; min-height: 500px;padding: 5px;">
        <div>
            <label>Système de repérage : </label>
            <select id="sr" class="browser-default"
                    ng-if="!cp.endSR"
                    ng-model="cp.systemeReperage"
                    ng-change="cp.selectSR()"
                    ng-options="systemeReperage.doc as systemeReperage.doc.libelle + ' : ' + systemeReperage.doc._id for systemeReperage in cp.systemeReperageList">
                <option></option>
            </select>
            <p ng-if="cp.endSR">{{cp.endSR}}</p>
        </div>
        <div ng-if="cp.systemeReperage">
            <label>Borne du système de repérage : </label>
            <select id="sr" class="browser-default"
                    ng-model="cp.data.borneId"
                    ng-options="systemeReperageBorne.borneId as systemeReperageBorne.id for systemeReperageBorne in cp.systemeReperage.systemeReperageBornes">
                <option></option>
            </select>
        </div>
        <div ng-if="cp.systemeReperage">
            <label for="distance" class="active">Distance à la borne (en mètre) : </label>
            <input id="distance" type="number" class="validate"
                   ng-model="cp.data.borne_distance"
                   placeholder=""/>
        </div>
        <div ng-if="cp.systemeReperage">
            <label for="pos" class="active">Position : </label>
            <select id="pos" class="browser-default"
                    ng-model="cp.data.borne_aval">
                <option ng-value="false">Amont</option>
                <option ng-value="true">Aval</option>
            </select>
        </div>
    </div>
</div>