<ion-view title="Gestion Des Modes" class="settings-view">
    <ion-content padding="true">
        <div class="row">
            <div class="col col-50 col-offset-25">
                <h1 class="settings-view-title">Paramètres</h1>

                <ion-toggle ng-model="sEventSuperviseur.event.mapDraw" on-tap="sEventSuperviseur.toggleDraw()">
                    Mode édition
                </ion-toggle>

                <p class="settings-view-controle-title">Paramètres Matériels</p>
                <ion-toggle ng-model="sEventSuperviseur.hardware.GPS" on-tap="sEventSuperviseur.toggleGPS()">
                    GPS
                </ion-toggle>
                <ion-toggle ng-model="sEventSuperviseur.hardware.camera" on-tap="sEventSuperviseur.toggleCamera()">
                    Caméra
                </ion-toggle>
                <ion-toggle ng-model="sEventSuperviseur.hardware.accel" on-tap="sEventSuperviseur.toggleAccel()">
                    Accéléromètre
                </ion-toggle>

            </div>
        </div>
    </ion-content>
</ion-view>