<ion-view id="setup">
    <ion-content>
        <div class="row responsive-md">
            <div class="col col-80 col-offset-10">
                <div class="sirs-card">
                    <div class="sirs-card-content">
                        <h2 class="sirs-card-title">Choix de la base de données</h2>
                        <p>Sélectionnez une base de données puis appuyez sur "connexion".</p>
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat="db in c.available" ng-class="{selected: (c.selected === db)}" on-tap="c.selected = db">
                                <i class="circle pink">{{db.name[0].toUpperCase()}}</i>
                                <span class="title">{{db.name}}</span>
                                <p>{{db.url}}</p>
                                <span class="secondary-content" ng-show="c.selected === db"><i class="material-icons">check</i></span>
                            </li>
                        </ul>
                    </div>
                    <div class="sirs-card-action text-right">
                        <a href="#/new_db" class="btn-flat waves-effect waves-teal left">
                            <i class="material-icons left">playlist_add</i>
                            Ajouter<span class="hide-on-small-and-down"> une base</span>
                        </a>
                        <button type="button" class="btn-flat waves-effect waves-light"
                                ng-disabled="!c.selected" ng-click="c.remove()">
                            <i class="material-icons left">delete</i>Supprimer
                        </button>
                        <button type="button" class="btn pink waves-effect waves-light"
                                ng-disabled="!c.selected" ng-click="c.replicate()">
                            <i class="material-icons left">check</i>Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>