<!--<div ng-include="'templates/sidemenu.html'"></div>-->

<ion-view title="Map">

    <ion-content padding="false">
        <!-- carte start -->
        <div ng-include="'templates/map.html'"></div>
        <!-- carte end -->
    </ion-content>
</ion-view>

<!--<ion-view name="map-panel">-->

    <!--<ion-content padding="false">-->
    <!--&lt;!&ndash; carte start &ndash;&gt;-->
    <!--<div ng-include="'templates/map.html'"></div>-->
    <!--&lt;!&ndash; carte end &ndash;&gt;-->
    <!--</ion-content>-->
<!--</ion-view>-->