<div id="observationDetails" ng-controller="cObservationDetail as c">
    <ion-header-bar align-title="center">
        <button class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="c.backToDisorderDetails()"></button>
        <h1 class="title">Observation</h1>
    </ion-header-bar>

    <ion-content class="has-header has-fab-bottom" delegate-handle="observationScroll">
        <img class="full-image" style="margin-bottom: 10px;" src="./img/u60.png"/>
        <div class="sirs-section">
            <div class="sirs-field">
                <span class="sirs-field-title">Urgence</span>
                <span class="sirs-field-value" ng-bind="c.urgencyLabel || 'Non définie'"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Evolution</span>
                <span class="sirs-field-value" ng-bind="c.doc.evolution || 'Non définie'"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Suites à donner</span>
                <span class="sirs-field-value" ng-bind="c.doc.suite || 'Non définie'"></span>
            </div>
        </div>
    </ion-content>

    <div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
        <a ng-href="#/observation/{{c.objectId}}/{{c.doc.id}}" class="btn-floating btn-large waves-effect waves-light pink">
            <i class="large material-icons">edit</i>
        </a>
    </div>
</div>