<div ng-switch="c.activeTab">
    <!-- Content / Description -->
    <div ng-switch-when="description">
        <div class="sirs-panel">
            <div class="sirs-field-inline">
                <span class="sirs-field-title">Numéro de désignation :</span>
                <span class="sirs-field-value" ng-bind="c.document.designation"></span>
            </div>
        </div>
        <div class="sirs-section">
            <div class="sirs-field">
                <span class="sirs-field-title">Type</span>
                <span class="sirs-field-value">Chemin d'accés dépendance</span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Dépendance</span>
                <span class="sirs-field-value" ng-bind="c.document.dependanceId"></span>
            </div>
            <div class="sirs-field" ng-if="c.document.positionDebut === c.document.positionFin">
                <span class="sirs-field-title">Position</span>
                <span class="sirs-field-value" ng-bind="c.document.positionDebut"></span>
            </div>
            <div class="sirs-field" ng-if="c.document.positionDebut !== c.document.positionFin">
                <span class="sirs-field-title">Position de début</span>
                <span class="sirs-field-value" ng-bind="c.document.positionDebut"></span>
            </div>
            <div class="sirs-field" ng-if="c.document.positionDebut !== c.document.positionFin">
                <span class="sirs-field-title">Position de fin</span>
                <span class="sirs-field-value" ng-bind="c.document.positionFin"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Commentaire</span>
                <span class="sirs-field-value" ng-bind="c.document.commentaire"></span>
            </div>
        </div>
    </div>
</div>
