<div class="sirs-panel">
    <div class="sirs-field-inline">
        <span class="sirs-field-title">Numéro de désignation :</span>
        <span class="sirs-field-value" ng-bind="c.document.designation"></span>
    </div>
</div>
<div class="sirs-section">
    <div class="sirs-field">
        <span class="sirs-field-title">Position Debut</span>
        <span class="sirs-field-value" ng-bind="c.document.positionDebut"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Position Fin</span>
        <span class="sirs-field-value" ng-bind="c.document.positionFin"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Commentaire</span>
        <span class="sirs-field-value" ng-bind="c.document.commentaire"></span>
    </div>
</div>