<div class="sirs-panel">
    <div class="sirs-field-inline">
        <span class="sirs-field-title">Numéro de désignation :</span>
        <span class="sirs-field-value" ng-bind="c.document.designation"></span>
    </div>
    <!--<div class="sirs-field-inline">-->
        <!--<span class="sirs-field-title">Géométrie :</span>-->
        <!--<span class="sirs-field-value">Désordre Linéaire</span>-->
    <!--</div>-->
    <!--<div class="sirs-field-inline">-->
        <!--<span class="sirs-field-title">Position GPS :</span>-->
        <!--<span class="sirs-field-value">Précision 5m</span>-->
    <!--</div>-->
</div>
<div class="sirs-section">
    <div class="sirs-field">
        <span class="sirs-field-title">Libellé</span>
        <span class="sirs-field-value" ng-bind="c.document.libelle"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Diamètre</span>
        <span class="sirs-field-value" ng-bind="c.document.diametre"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Autorisé</span>
        <span class="sirs-field-value" ng-bind="c.document.autorise"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Ecoulement</span>
        <span class="sirs-field-value" ng-bind="c.abstract.ecoulement"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Implantation</span>
        <span class="sirs-field-value" ng-bind="c.abstract.implantation"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Type de réseau</span>
        <span class="sirs-field-value" ng-bind="c.abstract.typeConduiteFermee"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Utilisation</span>
        <span class="sirs-field-value" ng-bind="c.abstract.utilisationConduite"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Réseau hydraulique associé</span>
        <span class="sirs-field-value" ng-bind=""></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Position</span>
        <span class="sirs-field-value" ng-bind="c.abstract.position"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Côté</span>
        <span class="sirs-field-value" ng-bind="c.abstract.cote"></span>
    </div>
    <div class="sirs-field">
        <span class="sirs-field-title">Commentaire</span>
        <span class="sirs-field-value" ng-bind="c.document.commentaire"></span>
    </div>
</div>