<div ng-switch="c.activeTab">
    <!-- Content / Description -->
    <div ng-switch-when="description">
        <div class="sirs-panel">
            <div class="sirs-field-inline">
                <span class="sirs-field-title">Numéro de désignation :</span>
                <span class="sirs-field-value" ng-bind="c.document.designation"></span>
            </div>
            <!--<div class="sirs-field-inline">-->
            <!--<span class="sirs-field-title">Géométrie :</span>-->
            <!--<span class="sirs-field-value">Désordre Linéaire</span>-->
            <!--</div>-->
            <!--<div class="sirs-field-inline">-->
            <!--<span class="sirs-field-title">Position GPS :</span>-->
            <!--<span class="sirs-field-value">Précision 5m</span>-->
            <!--</div>-->
        </div>
        <div class="sirs-section">
            <div class="sirs-field">
                <span class="sirs-field-title">Libellé</span>
                <span class="sirs-field-value" ng-bind="c.document.libelle"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Réseau hydraulique associé</span>
                <span class="sirs-field-value" ng-bind=""></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Position</span>
                <span class="sirs-field-value" ng-bind="c.abstract.position"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Côté</span>
                <span class="sirs-field-value" ng-bind="c.abstract.cote"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Commentaire</span>
                <span class="sirs-field-value" ng-bind="c.document.commentaire"></span>
            </div>
        </div>
    </div>
    <div ng-switch-when="observations">
        <ion-list>
            <ion-item on-tap="c.openObservationDetails(obs)" ng-repeat="obs in c.document.observations track by obs.id">
                <span ng-if="obs.date">{{ obs.date|date:'dd/MM/yyyy'}}</span>
                <span ng-if="!obs.date && obs.designation">{{ obs.designation}}</span>
                <span ng-if="!obs.date && !obs.designation && obs.id">{{ obs.id}}</span>
            </ion-item>
        </ion-list>
    </div>
    <div ng-switch-when="prestations" style="padding: 5px 10px;">
        <label for="prestationList" class="active">Ajouter une prestation</label>
        <div style="display: flex;flex-direction: row;padding:5px;justify-content: center;align-items: center;">
            <input type="text" name="prestationList" list="prestationList" ng-model="c.tempPrestation.v"/>
            <datalist id="prestationList">
                <select id="prestationList" class="browser-default">
                    <option ng-repeat="p in c.prestationList"
                            ng-value="c.prestationMap[p.id]"
                            ng-selected="c.tempPrestation.v === p.id">
                        {{p.id}}
                    </option>
                </select>
            </datalist>
            <div>
                <button type="button"
                        style="margin-left: 10px;"
                        class="btn-floating btn-large waves-effect waves-light pink"
                        on-tap="c.addPrestation(c.tempPrestation.v)">
                    <i class="large material-icons">add</i>
                </button>
            </div>
        </div>
        <label>La liste des prestations associées</label>
        <ion-list>
            <ion-item ng-repeat="prestationId in c.document.prestationIds"
                      style="display:flex;justify-content: space-between;align-items: center;"
                      on-tap="c.openPrestationLink(prestationId)">
                <span>{{!c.prestationList ? prestationId : c.prestationMap[prestationId]}}</span>
                <button type="button" class="btn-floating btn-small waves-effect waves-light pink"
                        on-tap="c.removePrestation($index);$event.stopPropagation()">
                    <i class="large material-icons">delete</i>
                </button>
            </ion-item>
        </ion-list>
    </div>
    <div ng-switch-when="desordres" style="padding: 5px 10px;">
        <label for="desordreList" class="active">Ajouter un desordre</label>
        <div style="display: flex;flex-direction: row;padding:5px;justify-content: center;align-items: center;">
            <input type="text" name="desordreList" list="desordreList" ng-model="c.tempDesordre.v"/>
            <datalist id="desordreList">
                <select id="desordreList" class="browser-default">
                    <option ng-repeat="d in c.desordreList"
                            ng-value="c.desordreMap[d.id]"
                            ng-selected="c.tempDesordre.v === d.id">
                        {{d.id}}
                    </option>
                </select>
            </datalist>
            <div>
                <button type="button"
                        style="margin-left: 10px;"
                        class="btn-floating btn-large waves-effect waves-light pink"
                        on-tap="c.addDesordre(c.tempDesordre.v)">
                    <i class="large material-icons">add</i>
                </button>
            </div>
        </div>
        <label>La liste des desordres associés</label>
        <ion-list>
            <ion-item ng-repeat="desordreId in c.document.desordreIds"
                      on-tap="c.openDesordreLink(desordreId)"
                      style="display:flex;justify-content: space-between;align-items: center;">
                <span>{{!c.desordreList ? desordreId : c.desordreMap[desordreId]}}</span>
                <button type="button" class="btn-floating btn-small waves-effect waves-light pink" on-tap="c.removeDesordre($index);$event.stopPropagation()">
                    <i class="large material-icons">delete</i>
                </button>
            </ion-item>
        </ion-list>
    </div>
</div>
