<!--cache-view-->
<ion-view class="cache-panel">
    <header class="bar bar-header bar-stable cacheHeader">
        <button class="button button-icon button-clear ion-arrow-left-a"
                ng-click="c.gotoHome()"></button>
        <span>Mise en cache</span>
        <a ng-if="!c.enableNewCacheControl" class="btn-floating btn-large waves-effect waves-light pink">
            <i class="material-icons  right" ng-click="c.popNewZone()">add</i>
        </a>
        <a ng-if="c.enableNewCacheControl" class="btn-floating btn-large waves-effect waves-light yellow">
            <i class="material-icons  right" ng-click="c.escape()">close</i>
        </a>
    </header>
    <ion-content class="has-header cache-panel-content" overflow-scroll='true'>
        <div class="row cache-panel-left">
            <div class="col col-25 cache-form">
                <ion-list ng-show="c.enableNewCacheControl" >
                    <!--FIXME  validation de form-->
                    <div class="row" style="margin-bottom:0;">
                        <div class="input-field col s12">
                            <input ng-model="c.CacheName" id="cacheName" type="text" class="validate" style="margin-bottom: 0;">
                            <label class="active" for="cacheName">nom du Cache</label>
                        </div>
                    </div>
                    <p class="paragraphTitle">Fonds de carte</p>
                    <ion-checkbox ng-repeat="layer in c.sMapLayer.list|filter:{isCache:false}"
                                  ng-model="layer.needToCache"
                            >
                        {{layer.name}}
                        <!--{{layer.needToCache}}-->
                    </ion-checkbox>

                    <p class="paragraphTitle">Etendue et zoom</p>
                    <rzslider class="cacheSlider" rz-slider-model="c.centerMap.zoom" rz-slider-floor="0" rz-slider-ceil="18"></rzslider>
                    <rzslider class="cacheSlider" rz-slider-model="c.z.zMin" rz-slider-high="c.z.zMax" rz-slider-floor="0"
                              rz-slider-ceil="18"></rzslider>
                    <!--progress max="{{c.nbTileMax}}" value="{{c.nbTile}}"></progress-->

                    <p class="paragraphTitle" style="margin-bottom: 5px;">Taille estimée</p>
                    <p style="margin-left: 15px; margin-bottom: 0;">{{c.cacheM0}} / {{c.freeSpace}}</p>
                    <!--TODO : alert volume?-->


                    <button class="waves-effect waves-light btn bouton-cache" href="#/" ng-click="c.cachMe()">Mise en Cache
                    </button>


                    <!--button class="waves-effect waves-light btn bouton-cache" href="#/" ng-click="c.clearall()">clean</button-->
                </ion-list>


                <ion-list ng-hide="c.enableNewCacheControl"
                        show-delete="false"
                        show-reorder="false"
                        can-swipe="true"
                        class="animate-if">
                    <h2>Caches disponibles</h2>
                    <ion-item ng-repeat="item in c.sContext.auth.user.cacheGeom.features" on-tap="c.editLayer(item)">
                       <p> Source : {{item.properties.layerSource}}</p>
                        <!--{{" "}}/ {{" "}}-->
                        <p> Nom : {{item.properties.name}}</p>
                        <!--{{" "}}/ {{" "}}-->
                        <p> Date : {{c.Dt | date:'dd.MM.yyyy HH:mm:ss'}}</p>



                        <!--sous boutton-->

                        <ion-option-button class="button-info" ng-click="c.clearMe(item)">
                            <p class="ion-minus-circled"></p>
                            <!--<i class="material-icons  right">visibility</i>-->
                        </ion-option-button>
                        <ion-option-button class="button-info" ng-click="c.edit(item)">
                            <p class="ion-edit"></p>
                            <!--<i class="material-icons  right">visibility_off</i>-->

                        </ion-option-button>
                        <ion-delete-button class="ion-star">
                        </ion-delete-button>
                        <ion-reorder-button class="ion-navicon"
                        on-reorder="c.reorderItem(layer, $fromIndex, $toIndex)">
                        </ion-reorder-button>
                    </ion-item>
                    <button class="waves-effect waves-light btn bouton-cache" ng-if="c.sContext.auth.user.cacheGeom.features.length>0" href="#/" ng-click="c.clearall()">clean</button>

                </ion-list>



            </div>
            <div class="col col-75 cache-right-panel">
                <div>
                    <openlayers id="mapCache" custom-layers="true" ol-center="c.centerMap" ol-controls="controls"
                                ol-defaults="defaults"
                            >
                        <!--style="height:50%"-->
                        <ol-layer ol-layer-properties="layer"
                                  ng-repeat="layer in c.sMapLayer.list|filter:{needToCache:true}"></ol-layer>
                    </openlayers>

                    <img src="img/viseur.png"
                         ng-show="c.editingCacheZone"
                         style="
                          position: absolute;
                          top: 35%;
                          left: 62.5%;
                          transform: translate(-50%, -50%);
                          width: 5%; ">

                </div>


                <div class="action-buttons" ng-show="c.enableNewCacheControl">
                    <div style="position:absolute; bottom:20px; right: 10px;">
                        <button class="btn-floating btn-large waves-effect waves-light pink btn-edit" ng-class="{'yellow':c.editingCacheZone}"  ng-click="c.selectEditCorner=true">
                            <i class="large material-icons">edit</i>
                        </button>
                        <button class="btn-floating btn-large waves-effect waves-light pink btn-done"
                           ng-click="c.editingCacheZone=false" ng-show="c.editingCacheZone">
                            <i class="large material-icons">done</i>
                        </button>
                    </div>
                </div>


                <!--<ion-list>-->
                    <!--<ion-item ng-repeat="item in c.sContext.auth.user.cacheGeom.features">-->
                        <!--Layer Source :-->
                        <!--{{item.properties.layerSource}}, nom :-->
                        <!--{{item.properties.name}}-->

                    <!--</ion-item>-->
                <!--</ion-list>-->



            </div>
        </div>
    </ion-content>
</ion-view>