<!--cache-view-->
<ion-view>
    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                ng-click="c.gotoHome()"></button>
        <a class="btn-floating btn-large waves-effect waves-light red" style="left:50%;"><i
                class="material-icons  right" ng-click="c.popNewZone()">add</i></a>
    </header>
    <ion-content class="has-header" scroll="false">
        <div class="row">
            <div class="col col-25 cache-form">
                <ion-list>
                    <!--FIXME  validation de form-->
                    <label class="item item-input">
                        <span class="input-label">nom du Cache</span>
                        <input type="text" ng-model="c.CacheName">
                    </label>
                    <ion-checkbox ng-repeat="layer in c.sMapLayer.list|filter:{isCache:false}" ng-model="layer.needToCache"
                                 >
                        {{layer.name}}
                        {{layer.needToCache}}
                    </ion-checkbox>


                    <rzslider rz-slider-model="c.centerMap.zoom" rz-slider-floor="0" rz-slider-ceil="18"></rzslider>
                    <rzslider rz-slider-model="c.z.zMin" rz-slider-high="c.z.zMax" rz-slider-floor="0"
                              rz-slider-ceil="18" ng-change="c.me._updateEstim()"></rzslider>
                    <progress max="{{c.nbTileMax}}" value="{{c.nbTile}}"></progress>


                    <!--TODO : alert volume?-->
                    <button class="button button-block button-positive" href="#/" ng-click="c.cachMe()">Mise en Cache
                    </button>
                    <label class="item item-input">
                        <span class="input-label">taille estimé</span>
                        {{c.cacheM0}}
                    </label>
                    <button class="button button-block button-positive" href="#/" ng-click="c.clearall()">clean
                    </button>
                </ion-list>
            </div>
            <div class="col col-75">
                <div>
                    <openlayers id="mapCache" custom-layers="true" ol-center="c.centerMap" ol-controls="controls" ol-defaults="defaults"
                            >
                        <!--style="height:50%"-->
                        <ol-layer ol-layer-properties="layer"
                                  ng-repeat="layer in c.sMapLayer.list|filter:{needToCache:true}"></ol-layer>
                    </openlayers>

                    <img src="img/viseur.png"
                         ng-show="c.editingCacheZone"
                         style="
                          position: absolute;
                          top: 35%;
                          left: 62.5%;
                          transform: translate(-50%, -50%);
                          width: 5%; ">

                </div>


                <div class="action-buttons">
                    <div>
                        <button class="button button-block button-positive button-yellow"
                                ng-click="c.selectEditCorner=true">Edit
                        </button>
                        <button class="button button-block button-positive button-yellow"
                                ng-click="c.editingCacheZone=false" ng-show="c.editingCacheZone">Valider
                        </button>
                    </div>
                </div>


                <ion-list>
                    <ion-item ng-repeat="item in  c.sContext.auth.user.cacheGeom">Layer Source :
                        {{item.properties.layerSource}}, nom :
                        {{item.properties.name}}
                        <button class="button button-block button-positive button-yellow"
                                ng-click="c.clearMe(item.properties)"> Suppr.
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>