<div ng-controller="cClosableDesordre as c">

    liste de Desordre

    <ion-list>

        <ion-radio ng-model="c.desordreSelected" ng-value="item" ng-repeat="item in c.sContext.unCloseDesordre">
            {{item.name}}
            <!--fixme desordre id ?-->
        </ion-radio>


    </ion-list>

    <ion-footer-bar style="  margin-bottom: 20px;">
        <a class="waves-effect waves-light btn-large"
           on-tap="c.drawOnMap()"
           style="  display: inline-block; width: 49%;">
            TRACER
        </a>
        <a class="waves-effect waves-light btn-large"
           on-tap="c.runWithGps()"
           style="  display: inline-block; width: 49%;">
            CONTINUER
        </a>
    </ion-footer-bar>


</div>