<div ng-controller="cClosableDesordre as c">

    liste de Desordre

    <ion-list>

        <ion-radio ng-model="c.desordreSelected" ng-value="item" ng-repeat="item in c.sContext.unCloseDesordre">
            {{item.name}}
            <!--fixme desordre id ?-->
        </ion-radio>


    </ion-list>

    <!--action-->
    <div>
        <a class="waves-effect waves-light btn-large"
           ng-click="c.drawOnMap()"
           style="  display: inline-block; width: 49%;">
            TRACER
        </a>
        <a class="waves-effect waves-light btn-large"
           ng-click="c.runWithGps()"
           style="  display: inline-block; width: 49%;">
           CONTINUER
        </a>
    </div>


</div>