<div ng-switch="c.activeTab">
    <!-- Content / Description -->
    <div ng-switch-when="description">
        <div class="sirs-panel">
            <div class="sirs-field-inline">
                <span class="sirs-field-title">Numéro de désignation :</span>
                <span class="sirs-field-value" ng-bind="c.document.designation"></span>
            </div>
            <!--<div class="sirs-field-inline">-->
                <!--<span class="sirs-field-title">Géométrie :</span>-->
                <!--<span class="sirs-field-value">Désordre Linéaire</span>-->
            <!--</div>-->
            <!--<div class="sirs-field-inline">-->
                <!--<span class="sirs-field-title">Position GPS :</span>-->
                <!--<span class="sirs-field-value">Précision 5m</span>-->
            <!--</div>-->
        </div>
        <div class="sirs-section">
            <div class="sirs-field">
                <span class="sirs-field-title">Type de désordre</span>
                <span class="sirs-field-value" ng-bind="c.abstract.typeDesordre"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Position</span>
                <span class="sirs-field-value" ng-bind="c.abstract.position"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Côté</span>
                <span class="sirs-field-value" ng-bind="c.abstract.cote"></span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Description</span>
                <span class="sirs-field-value" ng-bind="c.document.commentaire"></span>
            </div>
        </div>
    </div>
    <!-- Content / Observations -->
    <div ng-switch-when="observations">
        <ion-list>
            <ion-item on-tap="c.openObservationDetails()">20/03/2015</ion-item>
            <ion-item on-tap="c.openObservationDetails()">19/02/2015</ion-item>
            <ion-item on-tap="c.openObservationDetails()">15/12/2014</ion-item>
            <ion-item on-tap="c.openObservationDetails()">05/10/2014</ion-item>
            <ion-item on-tap="c.openObservationDetails()">04/07/2013</ion-item>
        </ion-list>
    </div>
</div>