<div ng-controller="cEditableLayer as c">
    liste de layers disponible

    <ion-list>

        <ion-radio ng-model="c.layerforAddDesordre" ng-value="item" ng-repeat="item in c.sAppLayer.visible">
            {{item.name}}
        </ion-radio>


    </ion-list>

    <!--action-->
    <div>
        <button class=" button button-icon button-clear" ng-click="c.drawOnMap()">TRACER SUR LA CARTE</button>
        <button class=" button button-icon button-clear" ng-click="c.runWithGps()">CONTINUER AVEC LA POSITION ACTUELLE
        </button>
    </div>

</div>