<div ng-controller="cEditableLayer as c">
    liste de layers disponible

    <ion-list>

        <ion-radio ng-model="c.layerforAddDesordre" ng-value="layer" ng-repeat="layer in c.sAppLayer.leaves | filter:{editable:true}">
            {{layer.title}}
        </ion-radio>


    </ion-list>

        <ion-footer-bar style="  margin-bottom: 20px;">
        <a class="waves-effect waves-light btn-large"
           on-tap="c.drawOnMap()"
           style="  display: inline-block; width: 49%;">
            TRACER
        </a>
        <a class="waves-effect waves-light btn-large"
           on-tap="c.runWithGps()"
           style="  display: inline-block; width: 49%;">
            CONTINUER
        </a>
        </ion-footer-bar>

</div>