<div ng-controller="cEditableLayer as c">
    liste de layers disponible

    <ion-list>

        <ion-radio ng-model="c.layerforAddDesordre" ng-value="item" ng-repeat="item in c.sAppLayer.visible">
            {{item.name}}
        </ion-radio>


    </ion-list>

    <!--action-->
    <div>
        <a class="waves-effect waves-light btn-large"
           on-tap="c.drawOnMap()"
           style="  display: inline-block; width: 49%;">
            TRACER
        </a>
        <a class="waves-effect waves-light btn-large"
           on-tap="c.runWithGps()"
           style="  display: inline-block; width: 49%;">
            CONTINUER
        </a>
    </div>

</div>