<div id="observationDetails" ng-controller="cObservationDetail as c">
    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a" ng-click="c.backToDisorderDetails()"></button>
        <h1 class="title">Date observation</h1>
    </header>
    <ion-content class="has-header has-fab-bottom" delegate-handle="observationScroll">
        <img class="full-image" style="margin-bottom: 10px;" src="./img/u60.png"/>
        <div class="sirs-section">
            <div class="sirs-field">
                <span class="sirs-field-title">Urgence</span>
                <span class="sirs-field-value">Niveau 1</span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Evolution</span>
                <span class="sirs-field-value">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
            </div>
            <div class="sirs-field">
                <span class="sirs-field-title">Suites à donner</span>
                <span class="sirs-field-value">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</span>
            </div>
        </div>
    </ion-content>
    <div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="large material-icons">edit</i></a>
    </div>
</div>