<div id="backLayers" ng-controller="BackLayersController as c">
    <ion-header-bar align-title="center">
        <button type="button" class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="c.backToMenu()"></button>
        <h1 class="title">Fonds de carte</h1>
    </ion-header-bar>

    <ion-content class="has-header has-fab-bottom">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="layer in c.sLayer.list()" ng-click="c.useLayer(layer)">
                <i class="material-icons" ng-if="layer === c.sLayer.getActive()">check</i>
                <h2>{{layer.name}}<span ng-if="layer.cache"> (hors ligne)</span></h2>

                <!-- Swipe actions -->
                <ion-option-button class="button" ng-click="c.goToCache(layer)" ion-stop-event>
                    <i class="material-icons">storage</i>
                </ion-option-button>
                <ion-option-button class="button" ng-click="c.removeLayer(layer)" ion-stop-event>
                    <i class="material-icons">delete</i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <button type="button" class="btn-floating btn-large waves-effect waves-light pink" style="bottom: 15px; left: 200px;" on-tap="c.goToAddLayer()">
        <i class="large material-icons">add</i>
    </button>
</div>