<ion-view>
    <div class="row form-entete">
        <div class="col s12">
            <p>Désignation : #numDesignation</p>
            <p>Objet linéaire : #toggle</p>
            <p class="position-gps">Position GPS enregistrée : #posGPS</p>
            <p class="qualite-signal">Qualité du signal lors de l'enregistrement : #qual</p>
            <button class="btn btn-mettreajour waves-effect waves-light">Mettre à jour</button>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m6 s12">
            <mt-select class="browser-default" id="type">
                <option value="" disabled selected>Choisir un type</option>
                <option value="1">Érosion externe</option>
                <option value="2">Érosion interne</option>
                <option value="3">Désordre affectant la structure</option>
                <option value="4">Brèche</option>
                <option value="5">Condition d'entretient de la digue</option>
                <option value="6">Autre</option>
            </mt-select>
            <label class="active" for="type">Type du désordre</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m6 s12">
            <mt-select class="browser-default" id="position">
                <option value="" disabled selected>Choisir une position</option>
                <option value="1">Franc bord</option>
                <option value="2">Berge</option>
                <option value="3">Talus de risberme / Pied de digue</option>
                <option value="4">Pied de digue</option>
                <option value="5">Talus de risberme</option>
                <option value="6">Sommet de risberme</option>
                <option value="7">Talus de digue</option>
                <option value="8">Plusieurs parties de la digue</option>
                <option value="9">Crête</option>
                <option value="10">Hors de la digue</option>
                <option value="11">Indéfini</option>
            </mt-select>
            <label class="active" for="position">Position sur la digue</label>
        </div>
        <div class="input-field col m6 s12">
            <mt-select class="browser-default" id="side">
                <option value="" disabled selected>Choisir un côté</option>
                <option value="1">Rivière</option>
                <option value="2">Terre</option>
                <option value="3">Etang</option>
                <option value="4">Mer</option>
                <option value="5">Deux côtés de la digue</option>
                <option value="6">Crête</option>
                <option value="7">Indéfini</option>
            </mt-select>
            <label class="active" for="side">Côté de la digue</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <label for="description">Description</label>
            <textarea id="description" class="materialize-textarea"></textarea>
        </div>
    </div>
</ion-view>