<ion-view>
    <a class="waves-effect waves-light btn-large"
       on-tap="c.getPhoto()"
       style="  display: inline-block; width: 49%;">
        Prendre Une Photo
        <i class="ion-camera"></i>
    </a>
    <a class="waves-effect waves-light btn-large"
       on-tap="c.runNotePad()"
       style="  display: inline-block; width: 49%;">
        Prendre une note
        <i class="ion-edit"></i>
    </a>

    <div class="right col-33">
        <ion-list
                show-delete="false"
                can-swipe="true"
                class="animate-if ">
            <ion-item ng-repeat="photo in c.newPhotos" >
                <!--<ion-checkbox ng-model="photo.selected" ng-change="c."></ion-checkbox>-->
                <img ng-src="{{c.sContext.photoDir+photo.chemin}}" style="display:block;width: 100%">
                <ion-option-button class="button-info"
                                   on-tap="c.runNotePad(c.sContext.photoDir+photo.chemin)">
                    EDITION
                </ion-option-button>
                <ion-option-button class="ion-minus-circled"
                                   on-tap="c.deletePhoto($index,photo.chemin)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </div>
</ion-view>