<div ng-controller="cAppLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                on-tap="c.sContext.backBabordMenus()"></button>
        <a class="btn-floating btn-large waves-effect waves-light pink" ng-class="c.search === true? 'yellow':'pink'" style="left:50%;"><i
                class="material-icons  right" on-tap="c.toggleSearch()">{{(c.search === true? 'close':'add')}}</i></a>
    </header>

    <ion-content class="has-header affichage-content" overflow-scroll="true" style="padding-top:15px;">

        <!--searchview-->
        <div ng-show="c.search">
            <!--//Liste expensive layer-->
            <!--//fixme calque sans theme?-->
            <ion-list>
                <ion-item ng-repeat="cat in c.sAppLayer.categories" class="waves-effect waves-teal"
                          style="  display: block; width: 100%;"
                          ng-click="c.justeOneOpen(cat)">
                    <p style="padding-bottom: 10px;">{{cat.title}} :</p>
                    <ion-checkbox class="waves-effect waves-teal"
                                  ng-repeat="layer in c.sAppLayer.asSimpleStack|filter:{categorie:cat.title}:true|filter:{favori:false}"
                                  on-tap="layer.favori=true;"
                                  ion-stop-event="click"
                                  style="  display: block; width: 100%;"
                                  ng-if="cat.visible">
                        {{layer.title}}
                    </ion-checkbox>
                </ion-item>
            </ion-list>

        </div>

        <!--FILTRER-->
        <ion-list
                show-delete="c.shouldShowDelete"
                show-reorder="c.shouldShowReorder"
                can-swipe="c.listCanSwipe"
                class="animate-if">

            <ion-item class="affichage-list" ng-repeat="layer in c.sAppLayer.asSimpleStack|filter:{favori:true}">
                <h2> {{layer.title}}</h2>


                <table name="blackBox" class="tabStampContnair">
                    <tr>
                        <td class="tabStampLine"><i class="material-icons tiny-icon-affichage right"
                                                    ng-class="layer.realPosition ? 'icon-layer-unselected':'icon-layer-selected'">call_merge</i></td>
                        <td class="tabStampLine"><i class="icon ion-eye tiny-icon-affichage right"
                                                    ng-class="layer.visible ? 'icon-layer-selected':'icon-layer-unselected'"></i></td>
                        <td class="tabStampLine "><i class="icon ion-edit tiny-icon-affichage right"
                                                     ng-class="layer.editable ? 'icon-layer-selected':'icon-layer-unselected'"></i></td>
                        <td class="tabStampLine"><i class="icon ion-android-hand tiny-icon-affichage right"
                                                    ng-class="layer.selectable ? 'icon-layer-selected':'icon-layer-unselected'"></i></td>
                    </tr>
                </table>

                <!--sous boutton-->

                <ion-option-button class="button-info"
                                   on-tap="layer.realPosition=!layer.realPosition">
                    <i class="material-icons right"
                       ng-class="layer.realPosition ? 'icon-layer-unselected':'icon-layer-selected'">call_merge</i>
                </ion-option-button>
                <ion-option-button class="button-info"
                                   on-tap="layer.visible=!layer.visible; c.loadDataLayer(layer);">
                    <!--bousolle like -->
                    <i class="icon ion-eye right"
                        ng-class="layer.visible ? 'icon-layer-selected':'icon-layer-unselected'"></i>
                </ion-option-button>
                <ion-option-button class="button-info"
                                   on-tap="layer.editable=!layer.editable">
                    <!--edit-->
                    <i class="icon ion-edit right"
                       ng-class="layer.editable ? 'icon-layer-selected':'icon-layer-unselected'"></i>
                </ion-option-button>
                <ion-option-button class="button-info"
                                   on-tap="layer.selectable=!layer.selectable">
                    <!--select-->
                    <i class="icon ion-android-hand right"
                       ng-class="layer.selectable ? 'icon-layer-selected':'icon-layer-unselected'"></i>
                </ion-option-button>


                <ion-delete-button class="ion-trash-b icon-delete-layer"
                                   on-tap="layer.favori=false;layer.visible=false;">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="c.reorderItem(layer, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>
    </ion-content>


    <!--bar bar-footer-->
    <ion-footer-bar class=" bar-positive cyan">
        <div class="buttons">
            <button class="button button-icon icon ion-trash-b"
                    on-tap="c.shouldShowDelete = !c.shouldShowDelete; c.shouldShowReorder = false"></button>
        </div>
        <div class="buttons right" ng-if="c.noFilter" class="animate-if">
            <button class="button" on-tap="c.shouldShowDelete = false; c.shouldShowReorder = !c.shouldShowReorder">
                Reorder
            </button>
        </div>
    </ion-footer-bar>

</div>