<div ng-controller="cAppLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                on-tap="c.sContext.backBabordMenus()"></button>
        <a class="btn-floating btn-large waves-effect waves-light yellow" ng-class="c.search === true? 'green':'yellow'" style="left:50%;"><i
                class="material-icons  right" on-tap="c.toggleSearch()">{{(c.search === true? 'close':'add')}}</i></a>
    </header>

    <ion-content class="has-header" overflow-scroll="true">

        <!--searchview-->
        <div ng-show="c.search">
            <!--//Liste expensive layer-->
            <!--//fixme calque sans theme?-->
            <ion-list>
                <ion-item ng-repeat="cat in c.sAppLayer.categories" class="waves-effect waves-teal"
                          style="  display: block; width: 100%;"
                          ng-click="c.justeOneOpen(cat)">
                    <p style="padding-bottom: 10px;">{{cat.title}} :</p>
                    <ion-checkbox class="waves-effect waves-teal"
                                  ng-repeat="layer in c.sAppLayer.asSimpleStack|filter:{categorie:cat.title}:true|filter:{favori:false}"
                                  on-tap="layer.favori=true;"
                                  ion-stop-event="click"
                                  style="  display: block; width: 100%;"
                                  ng-if="cat.visible">
                        {{layer.title}}
                    </ion-checkbox>
                </ion-item>
            </ion-list>

        </div>
        <div style="background-color: #003399; width: 100%; height: 15px;">
        </div>


        <!--FILTRER-->
        <ion-list
                show-delete="c.shouldShowDelete"
                show-reorder="c.shouldShowReorder"
                can-swipe="c.listCanSwipe"
                class="animate-if">

            <ion-item ng-repeat="layer in c.sAppLayer.asSimpleStack|filter:{favori:true}">
                <h2> {{layer.title}}</h2>


                <table name="blackBox" class="tabStampContnair">

                    <tr>
                        <td class="tabStampLine"><i class="material-icons tiny  right"
                                                    ng-class="layer.realPosition ? 'red':white">location_on</i></td>
                        <td class="tabStampLine"><i class="material-icons tiny  right"
                                                    ng-class="layer.visible ? 'red':white">visibility</i></td>
                    </tr>
                    <tr>
                        <td class="tabStampLine "><i class="material-icons  tiny right"
                                                     ng-class="layer.editable ? 'red':white">volume_up</i></td>
                        <td class="tabStampLine"><i class="material-icons  tiny right"
                                                    ng-class="layer.editable ? 'red':white">volume_up</i></td>
                    </tr>

                </table>

                <!--sous boutton-->

                <ion-option-button class="button-info"
                                   on-tap="layer.realPosition=!layer.realPosition">
                    <i class="material-icons  right">{{layer.realPosition ===true? "location_on" : "location_off"
                        }}</i>
                </ion-option-button>
                <ion-option-button class="button-info"
                                   on-tap="layer.visible=!layer.visible; c.loadDataLayer(layer);">
                    <!--bousolle like -->
                    <i class="material-icons  right">{{layer.visible ===true? "visibility" : "visibility_off" }}</i>
                </ion-option-button>
                <ion-option-button class="button-info"
                                   on-tap="layer.editable=!layer.editable">
                    <!--edit-->
                    <i class="material-icons  right">{{layer.editable ===true? "volume_up" : "volume_off" }}</i>
                </ion-option-button>


                <ion-delete-button class="ion-minus-circled"
                                   on-tap="layer.favori=false;layer.visible=false;">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="c.reorderItem(layer, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>
    </ion-content>


    <!--bar bar-footer-->
    <ion-footer-bar class=" bar-positive ">
        <div class="buttons">
            <button class="button button-icon icon ion-minus-circled"
                    on-tap="c.shouldShowDelete = !c.shouldShowDelete; c.shouldShowReorder = false"></button>
        </div>
        <div class="buttons right" ng-if="c.noFilter" class="animate-if">
            <button class="button" on-tap="c.shouldShowDelete = false; c.shouldShowReorder = !c.shouldShowReorder">
                Reorder
            </button>
        </div>
    </ion-footer-bar>

</div>