<div ng-controller="cAppLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                ng-click="c.sContext.backBabordMenus()"></button>
    </header>

    <ion-content class="has-header">

        <ion-list>
            <ion-item class="waves-effect waves-teal btn-flat"  style="  display: block; width: 100%;" ng-click="c.updateBaseLayer(layer.name)" ng-repeat="layer in c.sAppLayer.tree">  <i    class="material-icons  right" >offline_pin</i>Layers {{layer.title}}</ion-item>
        </ion-list>

        <ion-list>
            <ion-item class="waves-effect waves-teal btn-flat"  style="  display: block; width: 100%;" ng-click="c.updateBaseLayer(layer.name)" ng-repeat="layer in c.sAppLayer.asSimpleStack">  <i  class="material-icons  right" >offline_pin</i>Layers {{layer.name}}</ion-item>
        </ion-list>


        {{c.sAppLayer.tree}}
        {{c.sAppLayer.asSimpleStack}}
    </ion-content>

</div>