<div ng-controller="cBackLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                ng-click="c.sContext.backBabordMenus()"></button>
    </header>


    <ion-content class="has-header">

        <div ng-hide="c.viewAddSourceForm">
            <ion-list>

                <!--fixme why ng change not working here???-->
                <ion-radio ng-click="c.updateBaseLayer(layer.name)" ng-repeat="layer in c.sMapLayer.list">
                    Layers {{layer.name}}
                </ion-radio>


            </ion-list>


            <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                    ng-click="c.goToGeoCache()">
                Gestion du Cache
            </button>

            <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                    ng-click="c.goToAddSource()">
                Ajouter un fond de carte
            </button>
        </div>


        <!--ADD SOURCE-->
        <div ng-show="c.viewAddSourceForm">


            <label class="item item-input signin-item">
                Nom :
                <input type="text" placeholder="nom du layer" ng-model="c.newSource.name">
            </label>

            <label class="item item-input signin-item">

                <!--<select ng-model="c.newSource.type"-->
                <!--ng-options="item.name in c.typeServeur">-->
                <!--</select>-->

                <ion-radio ng-model="c.newSource.type" ng-value="item.type" ng-repeat="item in c.typeServeur">
                    {{item.name}}
                </ion-radio>

            </label>

            <label class="item item-input signin-item">
                <input type="text" placeholder="url" ng-model="c.newSource.url">
            </label>


            <!--WMS-->
            <div ng-show="c.newSource.type=='ImageWMS'">
                <label class="item item-input signin-item">
                    <input type="text" placeholder="nom du layer WMS" ng-model="c.newSource.layers">
                </label>
            </div>


            <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                    ng-click="c.addSource(c.newSource)">
                AJOUTER LA SOURCE
            </button>

        </div>

    </ion-content>

</div>