<div ng-controller="cBackLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                on-tap="c.sContext.backToBabordMenu()" ></button>
        <a class="btn-floating btn-large waves-effect waves-light pink" ng-class="c.viewAddSourceForm ? 'yellow':'pink' " style="margin-left: 135px;">
            <i class="material-icons right" on-tap="c.viewAddSourceForm = !c.viewAddSourceForm">{{(c.viewAddSourceForm === true ? 'close':'add')}}
            </i>
        </a>
    </header>


    <ion-content class="has-header" style="padding-top:15px;">

        <div ng-hide="c.viewAddSourceForm">
            <ion-list>
                <ion-item class="waves-effect waves-teal btn-flat"  style="  display: block; width: 100%;" on-tap="c.updateBaseLayer(layer.name)" ng-repeat="layer in c.sMapLayer.list">  <i ng-show="layer.active"   class="material-icons  right" >offline_pin</i>Layers {{layer.name}}</ion-item>
            </ion-list>


            <a class="waves-effect waves-light btn bouton-cache"  on-tap="c.goToGeoCache()"><i class="mdi-content-cloud right"> </i>Gestion du Cache</a>
        </div>


        <!--ADD SOURCE-->
        <div ng-show="c.viewAddSourceForm">


            <label class="item item-input signin-item backLayer-items">
                <input type="text" placeholder="nom du layer" ng-model="c.newSource.name">
            </label>

            <label class="item item-input signin-item backLayer-items">

                <!--<select ng-model="c.newSource.type"-->
                <!--ng-options="item.name in c.typeServeur">-->
                <!--</select>-->

                <ion-radio ng-model="c.newSource.type" ng-value="item.type" ng-repeat="item in c.typeServeur">
                    {{item.name}}
                </ion-radio>

            </label>

            <label class="item item-input signin-item backLayer-items">
                <input type="text" placeholder="url" ng-model="c.newSource.url">
            </label>


            <!--WMS-->
            <div ng-show="c.newSource.type=='ImageWMS'">
                <label class="item item-input signin-item backLayer-items">
                    <input type="text" placeholder="nom du layer WMS" ng-model="c.newSource.layers">
                </label>
            </div>

            <button class="waves-effect waves-light btn bouton-cache" type="submit" name="action" on-tap="c.addSource(c.newSource)">AJOUTER LA SOURCE
                <i class="mdi-content-send" ></i>
            </button>


        </div>

    </ion-content>

</div>