<div ng-controller="cBackLayerMgmt as c">

    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                ng-click="c.sContext.backBabordMenus()"></button>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add" ng-click="c.viewAddSourceForm = true"></i></a>
    </header>


    <ion-content class="has-header">

        <div ng-hide="c.viewAddSourceForm">
            <ion-list>
                <ion-item class="waves-effect waves-teal btn-flat"  style="  display: block; width: 100%;" ng-click="c.updateBaseLayer(layer.name)" ng-repeat="layer in c.sMapLayer.list">  <i ng-show="layer.active"   class="material-icons  right" >offline_pin</i>Layers {{layer.name}}</ion-item>
            </ion-list>


            <a class="waves-effect waves-light btn-large"  ng-click="c.goToGeoCache()"><i class="mdi-content-cloud right"> </i>Gestion du Cache</a>
        </div>


        <!--ADD SOURCE-->
        <div ng-show="c.viewAddSourceForm">


            <label class="item item-input signin-item">
                Nom :
                <input type="text" placeholder="nom du layer" ng-model="c.newSource.name">
            </label>

            <label class="item item-input signin-item">

                <!--<select ng-model="c.newSource.type"-->
                <!--ng-options="item.name in c.typeServeur">-->
                <!--</select>-->

                <ion-radio ng-model="c.newSource.type" ng-value="item.type" ng-repeat="item in c.typeServeur">
                    {{item.name}}
                </ion-radio>

            </label>

            <label class="item item-input signin-item">
                <input type="text" placeholder="url" ng-model="c.newSource.url">
            </label>


            <!--WMS-->
            <div ng-show="c.newSource.type=='ImageWMS'">
                <label class="item item-input signin-item">
                    <input type="text" placeholder="nom du layer WMS" ng-model="c.newSource.layers">
                </label>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="c.addSource(c.newSource)">AJOUTER LA SOURCE
                <i class="mdi-content-send" ></i>
            </button>


        </div>

    </ion-content>

</div>