<div ng-controller="cGlobalSettings as c">
    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                on-tap="c.sContext.backToBabordMenu()"></button>
    </header>

    <ion-content class="has-header">

        <ion-toggle ng-model="c.sPouch.syncActive" class="synchro-toggle" ng-change="c.sPouch.switchSync()">
            Syncronisation automatique <br/>
            de la base
        </ion-toggle>
        <ion-toggle ng-model="c.sLoc.enable" ng-change="c.sLoc.toggleEnable()">
            Positionement GPS
        </ion-toggle>
        <ion-toggle disabled="{{c.sLoc.enable}}" ng-model="c.sLoc.highAccuracy">
           Haute précision
        </ion-toggle>

        <ion-toggle ng-value="c.sContext.editionMode" on-tap="c.sContext.switchEditionMode()">
            Mode édition
        </ion-toggle>

        <ion-item>
            version : {{c.sContext.version}}
        </ion-item>

        <button class="btn waves-effect waves-light button-settings-menu signin-valid-button"
                on-tap="c.goToInit()">
            Gestion de base
        </button>

    </ion-content>
</div>