<div ng-controller="cGlobalSettings as c">
    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a"
                ng-click="c.sContext.backBabordMenus()"></button>
    </header>

    <ion-content class="has-header">

        <ion-toggle ng-model="c.sPouch.syncActive" ng-click="c.sPouch.switchSync()">
            Syncronisation automatique de la base
        </ion-toggle>

        <button class="button button-clear button-calm signin-valid-button" style="color: #00BCD0;"
                ng-click="c.goToInit()">
            Gestion de base
        </button>

    </ion-content>
</div>