<div id="settings" ng-controller="SettingsController as c">
    <header class="bar bar-header bar-stable">
        <button class="col-25 button button-icon button-clear ion-arrow-left-a" on-tap="c.sContext.backToBabordMenu()"></button>
    </header>
    <ion-content class="has-header">

        <!-- Auto. synchronization -->
        <ion-toggle ng-model="c.prefs.autoSync" ng-change="c.save()">
            Syncronisation auto.
        </ion-toggle>

        <!-- Auto. geolocation -->
        <ion-toggle ng-model="c.prefs.autoGeoloc" ng-change="c.save()">
            Géolocalisation auto.
        </ion-toggle>

        <!-- App. version -->
        <ion-item>
            Version:<p>{{c.sContext.version}}</p>
        </ion-item>
    </ion-content>
</div>