<div id="babordMenu" ng-controller="cBabordMenu as c">
    <ion-header-bar align-title="center">
        <h1 class="title">Menu principal</h1>
    </ion-header-bar>

    <ion-content class="has-header" delegate-handle="editScroll" ng-switch="c.tab">
        <ion-item on-tap="c.setView({target: 'babord', file: 'appLayerMgmt'})">
            Affichage
        </ion-item>
        <ion-item on-tap="c.setView({target: 'main', file: 'porteDocument'})">
            Porte documents
        </ion-item>
        <ion-item on-tap="c.setView({target: 'babord', file: 'newObjectSummary'})">
            Objets saisis
        </ion-item>
        <ion-item on-tap="c.setView({target: 'babord', file: 'globalSettings'})">
            Parametres
        </ion-item>
        <ion-item on-tap="c.setView({target: 'babord', file: 'helpMe'})">
            Aide
        </ion-item>
        <ion-item on-tap="c.setView({target: 'babord', file: 'backLayerMgmt'})">
            Fonds de Carte
        </ion-item>
    </ion-content>
</div>