#backLayers > ion-header-bar {
    background-color: #0097A7;
}

#backLayers > ion-header-bar > h1,
#backLayers > ion-header-bar > button {
    color: #FFFFFF;
}

#backLayers > .btn-floating {
    z-index: 10;
    position: absolute;
}

#backLayers ion-list ion-item ion-option-button {
    min-width: inherit;
}

#backLayers ion-list ion-item.activated,
#backLayers ion-list ion-item.activated .item-content {
    background-color: #FFFFFF;
}

#backLayers ion-list ion-item .item-content .material-icons {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 3;
    padding: 14px;
    height: 100%;
    font-size: 24px;
}


#backLayersAdd > ion-header-bar {
    background-color: #0097A7;
}

#backLayersAdd > ion-header-bar > h1,
#backLayersAdd > ion-header-bar > button {
    color: #FFFFFF;
}

#backLayersAdd > .btn-floating {
    z-index: 10;
    position: absolute;
}

.icon-green {
    color: green;
}