.tabStampContnair{
    width:auto;
    display: block;
    float: right;

}
.tabStampLine{
    padding:0;
}
.tabStampTitle{
    display: block;
    float: left;
}






/* Empty. Add your own CSS if you like */
.tabs .tab-item .icon.ol {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ol.png');
    background-size: contain;
}

.base {
    background-color: #190707;
    color: #FFFFFF;
}

/* header */
.bar.bar-header.bar-positive {
    border-color: #0098A8;
    background-color: #0098A8;
}

/* Init page */
.init-accordion-li{
    background-color: white;
}
.init-accordion-li .collapsible-header{
    background-color: #ffeb3b;
    font-size: 17px;
    color: #666;
}
.init-accordion-li .collapsible-body{
    padding:15px;
}
.init-accordion-li .signin-item{
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.init-accordion-li .signin-title{
    margin-bottom: 10px;
    padding-left: 5px;
}
.init-accordion-li input[type=text]:focus:not([readonly]), .init-accordion-li input[type=password]:focus:not([readonly]), .init-accordion-li input[type=email]:focus:not([readonly]), .init-accordion-li input[type=url]:focus:not([readonly]), .init-accordion-li input[type=time]:focus:not([readonly]), .init-accordion-li input[type=date]:focus:not([readonly]), .init-accordion-li input[type=datetime-local]:focus:not([readonly]), .init-accordion-li input[type=tel]:focus:not([readonly]), .init-accordion-li input[type=number]:focus:not([readonly]), .init-accordion-li input[type=search]:focus:not([readonly]), .init-accordion-li textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ffeb3b;
    box-shadow: 0 1px 0 0 #ffeb3b;
}
.div-button{
    text-align:right;
    margin-right:20px;
    margin-top: 10px;
}
.div-button .signin-valid-button{
    color: #26c6da;
    background-color: #fff;
    margin-left: 10px;
    font-size: 15px;
}

/* Loading page */
.loading-view {
    background-color: #00BCD0;
}

.loading-view .scroll-content {
    position: initial;
}
.loading-view progress, .loading-view p{
    color: #666;
}
.loading-view .password{
    padding:10px;
    margin-bottom:0;
}

/* Sign in page */
.signin-view {
    background-color: #00BCD0;
}

.signin-view .list {
    margin-bottom: 10px;
}

.signin-form {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
    border-radius: 2px;
    margin-top: 10%;
}

.signin-form .signin-item {
    margin-top: 5px;
    border:none;
}

.signin-form input[type=text]:focus:not([readonly]), .signin-form input[type=password]:focus:not([readonly]), .signin-form input[type=email]:focus:not([readonly]), .signin-form input[type=url]:focus:not([readonly]), .signin-form input[type=time]:focus:not([readonly]), .signin-form input[type=date]:focus:not([readonly]), .signin-form input[type=datetime-local]:focus:not([readonly]), .signin-form input[type=tel]:focus:not([readonly]), .signin-form input[type=number]:focus:not([readonly]), .signin-form input[type=search]:focus:not([readonly]), .signin-form textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #ffeb3b;
    box-shadow: 0 1px 0 0 #ffeb3b;
}

.signin-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #666;
}

.signin-valid-button button {
    text-align: right;
    border: none;
    color: #00BCD0;
}

.signin-valid-button {
    text-align: right;
}

.signin-valid-button p {
    margin-bottom: 0;
}

.signin-valid-button p a {
    color: #AEAEAE;
    font-style: italic;
}

/*expandable list*/
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

/*nav bar */
.nav-bar-container .bar{
    background: #00BCD4;
}
.nav-bar-container .button-clear.button-clear{
    color:white;
}
.nav-bar-container .right-buttons .button-clear{
    margin-right: 10px;
}

/* home page */
.home-view {
    background-color: #00BCD0;
}

.button.button-positive.home-button {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 25px;
    color: #666;
    margin-bottom: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
}

.button.button-positive.home-button.home-map-button {
    border-color: #FFEB3B;
    background-color: #FFEB3B;
}

.button.button-positive.home-button span.icon {
    margin-right: 10px;
}

/* mask list page */
.mask-view-list .list {
    border-radius: 2px;
    background: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
}

.mask-view-list .item.item-stable {
    background-color: transparent;
    border: none;
}

.mask-view-list .item.item-stable.active {
    border-color: #ddd;
    background-color: #FFEB3B;
    border-radius: 3px 3px 0 0;
    border-bottom: solid 2px rgba(102, 102, 102, 0.1);
}

.mask-view-list .list .item-accordion {
    border: none;
    background-color: #FFF176;
    padding: 3px 25px;
}

/* map */
.tabs-map-view.tabs-positive .tabs {
    background-color: #00BCD0;
}

.tab-map-map, .tab-map-set {
    padding-top: 8px;
}

.tab-map-map i.icon {
    float: left;
    margin-left: 27px;
}

.tab-map-map span.tab-title {
    font-size: 15px;
    margin-top: 8px;
    float: left;
    margin-left: 13px;
}

.tab-map-set i.icon {
    float: left;
    margin-left: 8px;
    font-size: 28px;
    height: 28px;
}

.tab-map-set span.tab-title {
    font-size: 15px;
    margin-top: 8px;
    float: left;
    margin-left: 13px;
}

.map-div{
    position:relative;
    width: 100%;
    height: 100%;
    float: right;
}
.draw-mode-div {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.draw-mode-div .input-label {
    width: 25px;
}

.draw-mode-div .item.item-input {
    padding-left: 15px;
    width: 155px;
    float: left;
}

.draw-mode-div select {
    max-width: 100%;
}

.draw-mode-div .draw-mode-text {
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}
.action-buttons{
    position: absolute;
    right:10px;
    top:10px;
}
.button.button-positive.button-yellow{
    border-color: #FFEB3B;
    background-color: #FFEB3B;
    color:#666;
}
.button.button-positive.button-yellow.activated{
    border-color: #FFF176;
    background-color: #FFF176;
    color:#666;
}
.map-features{
    height: 634px;
    width: 35%;
    overflow-y: auto;
}
.map-features .form{
    background: rgb(255, 235, 59);
    padding: 10px 10px 1px 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
    color: #666;
}
.map-features .div-feature{
    padding: 10px;
    border-bottom: solid 1px #eee;
}
.map-features .form .list{
    margin-bottom: 10px;
}
.map-features .div-feature .feature-info{
    padding: 3px;
}
.map-features .div-feature .link-info{
    color: rgb(0, 152, 168);
}
.map-features .div-feature .link-info i{
    margin-right: 5px;
    margin-left: 6px;
}
.map-features .div-feature.selected{
    background: #FFF176;
}
.map-features .button.button-positive.button-form{
    background-color:#888;
    border-color:#808080;
    color:white;
}
.map-features .button.button-positive.button-form.activated{
    background-color:#666;
    border-color:#606060;
    color:white;
}

/* Settings */
.settings-view-title {
    color: #666;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.settings-view .item-toggle {
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.settings-view-controle-title {
    font-size: 18px;
    margin-top: 25px;
    color: #0098A8;
}

/*form */
.form-view-block {
    margin-top: 10px;
}

.form-view-block .label-form {
    color: #666;
    text-transform: uppercase;
}

.form-view-block .list .item.item-input input {
    padding-top: 0;
}

.form-view-block .list .item.item-input {
    width: 99%;
    margin-left: 1px;
    background: white;
}

.form-view-block.form-view-popover .list {
    border: solid 1px #ddd;
}

.form-view-block.form-view-popover {
    padding: 5px 20px;
}

.button.button-positive.button-form {
    border-color: #FFEB3B;
    background-color: #FFEB3B;
    color: #666;
}
.form-entete{
    background-color:#B2EBF2;
    padding-top: 10px;
}
.form-entete .position-gps{
    margin-bottom: 0;
}
.form-entete .qualite-signal{
    font-style: italic;
    color: #888;
    font-size: 12px;
}
.form-entete .btn-mettreajour{
    position: absolute;
    top: 110px;
    left: 300px;
    background-color: #FF4081;
}
.form-entete .toggle-lineaire{
    position: absolute;
    left: 100px;
    top: 78px;
}

.form-colonnes-50{
    width: 50%;
    padding: 0 10px;
}

/* Cache page */
.cache-view{
    background:#00BCD0;
}
.cache-view .cache-form{
    background:#fff;
    border-radius:2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);

}
.cache-view rzslider span.bar{
    background: #00BCD0;
}
.cache-view rzslider span.pointer{
    top: -6px;
    width: 22px;
    height: 22px;
    background: #0098A8;
}
.cache-view rzslider span.pointer:after{
    top: 7px;
    left: 7px;
    background:transparent;
}
.cache-view rzslider span.bar.selection{
    background: #0098A8;
}

.cache-view .item{
    border: none;
    padding-top: 5px;
}
.cache-view .toggle-small.item-toggle .toggle {
    top: 8px;
}
.cache-view .button.button-positive{
    border-color: #FFEB3B;
    background-color: #FFEB3B;
    color:#666;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    width: 96%;
}
.cache-view .button.button-positive.activated{
    border-color: #FFF176;
    background-color: #FFF176;
    color:#666;
}
.cache-view .checkbox-square .checkbox-icon:before{
    margin-top: -2px;
}
.cache-view .checkbox input:checked:before, .cache-view .checkbox input:checked + .checkbox-icon:before{
    background: #00BCD0;
    border-color: #00BCD0;
}
.cache-view progress{
    margin: 10px auto;
    width: 96%;
}

/*//popup*/
.popup {
    width: 400px;
    height: 350px;
    padding: 0;
}

/* panel */
.sirs-panel {
    padding: 16px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background-color: #2DC7D8;
}
.sirs-panel *:last-child {
    margin-bottom: 0;
}

/* section */
.sirs-section {
    padding: 0 16px;
    margin-bottom: 10px;
}

/* field */
.sirs-field,
.sirs-field-inline {
    margin-bottom: 10px;
}
.sirs-field:last-child,
.sirs-field-inline:last-child {
    margin-bottom: 0;
}
.sirs-field > span.sirs-field-title,
.sirs-field-inline > span.sirs-field-title {
    font-weight: bold;
}
.sirs-field > span.sirs-field-title,
.sirs-field > span.sirs-field-value {
    display: block;
}

/* tabs */
.tabs-striped .tabs.tabs-sirs {
    border-bottom: none;
}
.tabs-striped > .tabs.tabs-sirs > .tab-item {
    color: #00BCD0;
    border-color: #00BCD0;
}
.tabs-striped > .tabs.tabs-sirs > .tab-item.active,
.tabs-striped > .tabs.tabs-sirs > .tab-item.activated,
.tabs-striped > .tabs.tabs-sirs > .tab-item-active {
    color: #0098A6;
    border-color: #0098A6;
    border-bottom-width: 3px !important;
}

/* icon-content */
ion-content.has-fab-bottom > div.scroll {
    padding-bottom: 80px;
}

/* forms */
#forms > ion-header-bar {
    background-color: #0098A6;
}
#forms > ion-header-bar {
    background-color: #0098A6;
}
#forms > ion-header-bar > h1,
#forms > ion-header-bar > .button.ion-arrow-left-a {
    color: #FFFFFF;
}
#forms > ion-content ion-nav-view ion-view {
    position: relative;
}
#forms > ion-content ion-nav-view select {
    margin-top: 8px;
}


/* menu-babord */
.menu-left .list{
    margin-top: 10px;
}
.menu-left .list .item{
    margin-bottom: 5px;
}
.menu-left .list .item .material-icons.icon-menu-babord{
    margin-right: 10px;
}

.waves-effect.waves-cyan .waves-ripple{
    background-color: rgba(31,188,206,0.65)
}

.menu-left .bar.bar-header.bar-stable{
    background-color: #0097A7;
}
.menu-left .bar.bar-header.bar-stable .button.button-clear{
    color: white;
}

.menu-left .synchro-toggle label.toggle.disable-user-behavior{
    top: 29px;
}
.menu-left .button-settings-menu.button.button-calm.button-clear{
    margin-left: 45px;
    color: white;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00BCD4;
    line-height: 20px;
}

.menu-left .bouton-cache.btn{
    margin-left: 25px;
    margin-top: 10px;
    background-color: #00BCD4;
}

.menu-left .button-settings-menu{
    margin-left: 40px;
    margin-top: 15px;
    background-color: #00BCD4;
}

.menu-left .affichage-content .list .item{
    margin-bottom:0;
}

.menu-left .item-delete .icon-delete-layer.button-icon{
    color:#FF4081;
}
.menu-left .icon-layer-selected{
    color:#FF4081;
}
.menu-left .icon-layer-unselected{
    color: #b8b8b8;
}
.menu-left .tiny-icon-affichage{
    font-size: 20px;
    margin-left: 5px;
}
.menu-left .affichage-content .affichage-list .item-content{
    padding:10px 15px;
}
.menu-left .affichage-content .affichage-list h2{
    margin-bottom:5px;
}
.menu-left .affichage-content .affichage-list h2 span {
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}
.menu-left .affichage-content .affichage-list h2 span.layer-color {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}
.menu-left .backLayer-items{
    border:none;
}

/* Menu tribord */
.menu-right .bar.bar-header{
    background-color: #0097A7;
}
.menu-right .bar.bar-header h1, .menu-right .bar.bar-header .ion-arrow-left-a{
    color:white;
}

/* Cache */
.cache-panel .bar.bar-header.cacheHeader{
    background-color: #0097A7;
}
.cache-panel .bar.bar-header.cacheHeader button{
    color: #fff;
    margin-left: 15px;
}
.cache-panel .bar.bar-header.cacheHeader span{
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 6px;
}
.cache-panel .bar.bar-header.cacheHeader a{
    position: absolute;
    right: 20px;
}
.cache-panel .cache-panel-content .cache-panel-left{
    padding: 0;
    height: 100%;
    margin-bottom:0;
}
.cache-panel .cache-panel-content .cache-panel-left>.cache-form{
    padding: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.50);
}
.cache-panel .cache-panel-content .cache-panel-left>.cache-form h2{
    color:#666;
    font-size: 17px;
    margin: 15px 0 10px 10px;
}
.cache-panel .cache-panel-content .cache-panel-left>.cache-form .list .item-content .left-arrow{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid rgb(238, 238, 238);
    position: absolute;
    top: 26px;
    right: 0px;
    z-index: 20;
}

.cache-panel .cache-panel-content .cache-panel-left>.cache-form .list .item-options .button-info p.icon-action{
    padding-left:8px;
    font-size: 20px;
    color:#FF4081;
}

.cache-panel .cache-panel-content .cache-form .list{
    width:99%;
}
.cache-panel .cache-panel-content .cache-form .list .item{
    border-left:0;
    border-right:0;
}
.cache-panel .cache-panel-content .cache-panel-left .cache-right-panel{
    height:100%;
    padding:0;
}
.cache-panel .cache-panel-content .cache-panel-left .cache-right-panel>div, .cache-panel .cache-panel-content .cache-panel-left .cache-right-panel>div>.angular-openlayers-map{
    height:100%;
}
.cache-panel .cache-panel-content .cache-panel-left .cache-right-panel .action-buttons .btn-done{
    position: absolute;
    bottom: 0px;
    right: 67px;
}
.cache-panel .cache-panel-content .cache-panel-left .cache-right-panel .action-buttons .btn-coin{
    right: 10px;
    bottom: 65px;
    position: absolute;
}
.cache-panel .cache-panel-content .cache-panel-left .cache-right-panel .action-buttons .btn-coin img{
    width: 21px;
    margin-top: 8px;
}

.cache-panel .cache-panel-content .cache-form .list .item.item-checkbox{
    padding-top: 0;
    border:none;
    padding-bottom: 10px;
    padding-left: 50px;
}
.cache-panel .cache-panel-content .cache-form .list .item.item-checkbox .checkbox{
    padding-top: 2px;
}

.cache-panel .cache-panel-content .cache-form p.paragraphTitle{
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cache-panel .cache-panel-content .cache-form rzslider.cacheSlider{
    margin: 30px 0 15px 0;
    padding-left: 5%;
    width: 90%;
}
.cache-panel .cache-panel-content .cache-form rzslider.cacheSlider .rz-pointer{
    top: -9px;
    width: 20px;
    height: 20px;
    border-radius: 24px;
    background-color: #00BCD4;
}
.cache-panel .cache-panel-content .cache-form rzslider.cacheSlider .rz-pointer:after{
    top: 6px;
    left: 6px;
}
.cache-panel .cache-panel-content .cache-form rzslider.cacheSlider .rz-pointer.rz-selected:after{
    background:#0097A7;
}

.cache-panel .cache-panel-content .cache-form rzslider.cacheSlider span.rz-bar.rz-selection{
    background: #00BCD4;
}

.cache-panel .cache-panel-content .cache-form .bouton-cache.btn{
    margin-left: 25px;
    margin-top: 10px;
    background-color: #00BCD4;
}


.bar.bar-header.noteHeader{
    background-color: #0097A7;
}
.bar.bar-header.noteHeader button{
    color: #fff;
    margin-left: 15px;
}
.bar.bar-header.noteHeader span{
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 6px;
}
.bar.bar-header.noteHeader a{
    position: absolute;
    right: 20px;
}
#bd-wrapper{
    padding-top:43px;
    min-width: 1500px;
}
#bd-wrapper .left-bloc{
    position:absolute;
    left:0;
    width:25%;
    height:100%;
}
#bd-wrapper .right-bloc{
    position:absolute;
    right:0;
    width:75%;
    height:100%;
}
/*.canvas-container*/
#bd-wrapper {
    width:100% !important;
    height: 100% !important;
}
/*#canvasFabric*/
/*.canvas-container*/
#bd-wrapper  {
    width:100% !important;
    height: 100% !important;
}
/*.canvas-container*/
#bd-wrapper {
    width:100% !important;
    height: 100% !important;
}
#bd-wrapper .right-bloc .list .item.item-input.signin-item textarea{
    resize:none;
}
#bd-wrapper .bouton-cache.btn{
    margin-left: 25px;
    margin-top: 10px;
    background-color: #00BCD4;
}
#bd-wrapper .left-bloc .header-bloc{
    height: 44px;
    background-color: #00BCD4;
}
#bd-wrapper .left-bloc .header-bloc .img-action{
    display: inline-block;
    height: 44px;
    width: 44px;
}
#bd-wrapper .left-bloc .header-bloc .img-action img{
    border: 0;
    width: 44px;
    height: 44px;
    padding: 10px;
}
#drawing-mode-options {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 15px 10px 10px 10px;
}
#text-mode-options {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 15px 10px 10px 10px;
}
#text-mode-options label {
    padding: 5px;
    width:100%;
}
#text-mode-options label textarea{
    height: auto;
}
#text-mode-options .bouton-cache{
    color:white;
}
#drawing-mode-options .info{
    display: inline-block;
    width: 25px;
    color: #A9A9A9;
}