<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('materiauId', c.refs.RefMateriau[0])">
        <label for="material" class="active">Matériau</label>
        <div ng-if="c.showText('fullName')">
            <select id="material" class="browser-default"
                    ng-model="c.doc.materiauId"
                    ng-options="r.id as r.libelle for r in c.refs.RefMateriau">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="material" class="browser-default">
                <option ng-repeat="r in c.refs.RefMateriau track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.materiauId"
                        ng-selected="c.doc.materiauId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="material" class="browser-default">
                <option ng-repeat="r in c.refs.RefMateriau track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.materiauId"
                        ng-selected="c.doc.materiauId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('natureId', c.refs.RefNature[0])">
        <label for="nature" class="active">Nature</label>
        <div ng-if="c.showText('fullName')">
            <select id="nature" class="browser-default"
                    ng-model="c.doc.natureId"
                    ng-options="r.id as r.libelle for r in c.refs.RefNature">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="nature" class="browser-default">
                <option ng-repeat="r in c.refs.RefNature track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.natureId"
                        ng-selected="c.doc.natureId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>

            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="nature" class="browser-default">
                <option ng-repeat="r in c.refs.RefNature track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.natureId"
                        ng-selected="c.doc.natureId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('fonctionId', c.refs.RefFonction[0])">
        <label for="function" class="active">Fonction</label>
        <div ng-if="c.showText('fullName')">
            <select id="function" class="browser-default"
                    ng-model="c.doc.fonctionId"
                    ng-options="r.id as r.libelle for r in c.refs.RefFonction">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="function" class="browser-default">
                <option ng-repeat="r in c.refs.RefFonction track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.fonctionId"
                        ng-selected="c.doc.fonctionId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="function" class="browser-default">
                <option ng-repeat="r in c.refs.RefFonction track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.fonctionId"
                        ng-selected="c.doc.fonctionId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
    <div class="sirs-field col col-50" ng-init="c.doc.epaisseur = c.doc.epaisseur || 0">
        <label for="width" class="active">Epaisseur</label>
        <input id="width" type="number" ng-model="c.doc.epaisseur"/>
    </div>
</div>
