<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('materiauId', c.refs.RefMateriau[0])">
        <label for="material" class="active">Matériau</label>
        <select id="material" class="browser-default" ng-model="c.doc.materiauId"
                ng-options="r.id as r.libelle for r in c.refs.RefMateriau"></select>
    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('natureId', c.refs.RefNature[0])">
        <label for="nature" class="active">Nature</label>
        <select id="nature" class="browser-default" ng-model="c.doc.natureId"
                ng-options="r.id as r.libelle for r in c.refs.RefNature"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('fonctionId', c.refs.RefFonction[0])">
        <label for="function" class="active">Fonction</label>
        <select id="function" class="browser-default" ng-model="c.doc.fonctionId"
                ng-options="r.id as r.libelle for r in c.refs.RefFonction"></select>
    </div>
    <div class="sirs-field col col-50" ng-init="c.doc.epaisseur = 0.0">
        <label for="width" class="active">Epaisseur</label>
        <input id="width" type="number" ng-model="c.doc.epaisseur"/>
    </div>
</div>