<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('categorieDesordreId', c.refs.RefCategorieDesordre[0])">
        <label for="categorie" class="active">Catégorie du désordre</label>
        <div ng-if="c.showText('fullName')">
            <select id="categorie" class="browser-default"
                    ng-model="c.doc.categorieDesordreId"
                    ng-options="r.id as r.libelle for r in c.refs.RefCategorieDesordre.sort(c.compareRef)"
                    ng-change="c.doc.typeDesordreId = (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="categorie" class="browser-default">
                <option ng-repeat="r in c.refs.RefCategorieDesordre.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.categorieDesordreId"
                        ng-change="c.doc.typeDesordreId = (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id"
                        ng-selected="c.doc.categorieDesordreId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="categorie" class="browser-default">
                <option ng-repeat="r in c.refs.RefCategorieDesordre.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.categorieDesordreId"
                        ng-change="c.doc.typeDesordreId = (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id"
                        ng-selected="c.doc.categorieDesordreId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
    <div class="sirs-field col col-50"
         ng-init="c.doc.typeDesordreId = c.doc.typeDesordreId || (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id">
        <label for="type" class="active">Type du désordre</label>
        <div ng-if="c.showText('fullName')">
            <select id="type" class="browser-default"
                    ng-model="c.doc.typeDesordreId"
                    ng-options="r._id as r.libelle for r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true).sort(c.compareRef)">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="type" class="browser-default">
                <option ng-repeat="r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true).sort(c.compareRef) track by r._id"
                        ng-value="r._id"
                        ng-model="c.doc.typeDesordreId"
                        ng-selected="c.doc.typeDesordreId === r._id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="type" class="browser-default">
                <option ng-repeat="r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true).sort(c.compareRef) track by r._id"
                        ng-value="r._id"
                        ng-model="c.doc.typeDesordreId"
                        ng-selected="c.doc.typeDesordreId === r._id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('positionId', c.refs.RefPosition[0])">
        <label for="damPosition" class="active">Position sur la digue</label>
        <div ng-if="c.showText('fullName')">
            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-options="r.id as r.libelle for r in c.refs.RefPosition.sort(c.compareRef)">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="damPosition" class="browser-default">
                <option ng-repeat="r in c.refs.RefPosition.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.positionId"
                        ng-selected="c.doc.positionId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="damPosition" class="browser-default">
                <option ng-repeat="r in c.refs.RefPosition.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.positionId"
                        ng-selected="c.doc.positionId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('coteId', c.refs.RefCote[0])">
        <label for="damSide" class="active">Côté de la digue</label>
        <div ng-if="c.showText('fullName')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-options="r.id as r.libelle for r in c.refs.RefCote.sort(c.compareRef)">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="damSide" class="browser-default">
                <option ng-repeat="r in c.refs.RefCote.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.coteId"
                        ng-selected="c.doc.coteId === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="damSide" class="browser-default">
                <option ng-repeat="r in c.refs.RefCote.sort(c.compareRef) track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.coteId"
                        ng-selected="c.doc.coteId === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
</div>
