<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('categorieDesordreId', c.refs.RefCategorieDesordre[0])">
        <label for="categorie" class="active">Catégorie du désordre</label>
        <select id="categorie" class="browser-default" ng-model="c.doc.categorieDesordreId"
                ng-change="c.doc.typeDesordreId = (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in c.refs.RefCategorieDesordre track by r.id"
                    ng-value="r.id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in c.refs.RefCategorieDesordre track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in c.refs.RefCategorieDesordre track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
    <div class="sirs-field col col-50"
         ng-init="c.doc.typeDesordreId = c.doc.typeDesordreId || (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true)[0]._id">
        <label for="type" class="active">Type du désordre</label>
        <select id="type" class="browser-default" ng-model="c.doc.typeDesordreId">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true) track by r._id"
                    ng-value="r._id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true) track by r._id"
                    ng-value="r._id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in (c.refs.RefTypeDesordre | filter:{ categorieId: c.doc.categorieDesordreId }:true) track by r._id"
                    ng-value="r._id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('positionId', c.refs.RefPosition[0])">
        <label for="damPosition" class="active">Position sur la digue</label>
        <select id="damPosition" class="browser-default" ng-model="c.doc.positionId">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('coteId', c.refs.RefCote[0])">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default" ng-model="c.doc.coteId">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
</div>
