<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('referenceHauteurId', c.refs.RefReferenceHauteur[0])">
        <label for="heightRef" class="active">Référence hauteur</label>

        <div ng-if="c.showText('fullName')">
            <select id="heightRef" class="browser-default"
                    ng-model="c.doc.referenceHauteurId"
                    ng-options="r.id as r.libelle for r in c.refs.RefReferenceHauteur">
            </select>
        </div>

        <div ng-if="c.showText('abstract')">
            <select id="heightRef" class="browser-default"
                    ng-model="c.doc.referenceHauteurId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege for r in c.refs.RefReferenceHauteur">
            </select>

            <select id="heightRef" class="browser-default"
                    ng-model="c.doc.referenceHauteurId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefReferenceHauteur">
            </select>
        </div>

        <div ng-if="c.showText('both')">
            <select id="heightRef" class="browser-default"
                    ng-model="c.doc.referenceHauteurId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege + ' : ' + r.libelle for r in c.refs.RefReferenceHauteur">
            </select>

            <select id="heightRef" class="browser-default"
                    ng-model="c.doc.referenceHauteurId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefReferenceHauteur">
            </select>
        </div>

    </div>
    <div class="sirs-field col col-50" ng-init="c.doc.hauteur = c.doc.hauteur || 0">
        <label for="height" class="active">Hauteur</label>
        <input id="height" type="number" ng-model="c.doc.hauteur"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="position" class="active">Position de la laisse</label>
        <input id="position" type="text" ng-model="c.doc.positionLaisse"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('positionId', c.refs.RefPosition[0])">
        <label for="damPosition" class="active">Position sur la digue</label>

        <div ng-if="c.showText('fullName')">
            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-options="r.id as r.libelle for r in c.refs.RefPosition">
            </select>
        </div>

        <div ng-if="c.showText('abstract')">
            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege for r in c.refs.RefPosition">
            </select>

            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefPosition">
            </select>
        </div>

        <div ng-if="c.showText('both')">
            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege + ' : ' + r.libelle for r in c.refs.RefPosition">
            </select>

            <select id="damPosition" class="browser-default"
                    ng-model="c.doc.positionId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefPosition">
            </select>
        </div>


    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('coteId', c.refs.RefCote[0])">
        <label for="damSide" class="active">Côté de la digue</label>

        <div ng-if="c.showText('fullName')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-options="r.id as r.libelle for r in c.refs.RefCote">
            </select>
        </div>

        <div ng-if="c.showText('abstract')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege for r in c.refs.RefCote">
            </select>

            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>
        </div>

        <div ng-if="c.showText('both')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>

            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>
        </div>

    </div>
</div>
