<div class="row">
    <div class="sirs-field" ng-init="c.setupRef('typeLargeurFrancBord', c.refs.RefLargeurFrancBord[0])">
        <label for="width" class="active">Largeur</label>
        <div ng-if="c.showText('fullName')">
            <select id="width" class="browser-default"
                    ng-model="c.doc.typeLargeurFrancBord"
                    ng-options="r.id as r.libelle for r in c.refs.RefLargeurFrancBord">
            </select>
        </div>
        <div ng-if="c.showText('abstract')">
            <select id="width" class="browser-default">
                <option ng-repeat="r in c.refs.RefLargeurFrancBord track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.typeLargeurFrancBord"
                        ng-selected="c.doc.typeLargeurFrancBord === r.id">
                    {{r.abrege ? r.abrege : r.designation + ' : ' + r.libelle}}
                </option>
            </select>
        </div>
        <div ng-if="c.showText('both')">
            <select id="width" class="browser-default">
                <option ng-repeat="r in c.refs.RefLargeurFrancBord track by r.id"
                        ng-value="r.id"
                        ng-model="c.doc.typeLargeurFrancBord"
                        ng-selected="c.doc.typeLargeurFrancBord === r.id">
                    {{r.abrege ? (r.abrege + ' : ' + r.libelle) : (r.designation + ' : ' + r.libelle)}}
                </option>
            </select>
        </div>
    </div>
</div>
