<div class="sirs-field">
    <label for="label" class="active">Libellé</label>
    <input id="label" type="text"/>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="width" class="active">Largeur</label>
        <input id="width" type="text"/>
    </div>
    <div class="sirs-field col col-50">
        <label for="height" class="active">Hauteur</label>
        <input id="height" type="text"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="zThreshold" class="active">Z du seuil</label>
        <input id="zThreshold" type="text"/>
    </div>
    <div class="sirs-field col col-50">
        <label for="thresholdType" class="active">Type de seuil</label>
        <select id="thresholdType" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="slideType" class="active">Type de glissière</label>
        <select id="slideType" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="related" class="active">Ouvrage de revanche associé</label>
        <select id="related" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="damPosition" class="active">Position sur la digue</label>
        <select id="damPosition" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default"></select>
    </div>
</div>