<div class="sirs-field">
    <label for="label" class="active">Libellé</label>
    <input id="label" type="text"/>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="workType" class="active">Type d'ouvrage</label>
        <select id="workType" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="related" class="active">Réseau hydraulique associé</label>
        <select id="related" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="damPosition" class="active">Position sur la digue</label>
        <select id="damPosition" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default"></select>
    </div>
</div>