<div class="row">
    <div class="sirs-field col col-50">
        <label for="label" class="active">Libellé</label>
        <input id="label" type="text"/>
    </div>
    <div class="sirs-field col col-50">
        <label for="width" class="active">Largeur</label>
        <input id="width" type="text"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="orientation" class="active">Orientation de l'ouvrage</label>
        <select id="orientation" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="use" class="active">Usage</label>
        <select id="use" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="coating" class="active">Revêtement</label>
        <select id="coating" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="workType" class="active">Type d'ouvrage</label>
        <select id="workType" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="topPosition" class="active">Position haut</label>
        <select id="topPosition" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="lowPosition" class="active">Position bas</label>
        <select id="lowPosition" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default"></select>
    </div>
</div>