<div class="row">
    <div class="sirs-field col col-50">
        <label for="material" class="active">Matériau</label>
        <select id="material" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="nature" class="active">Nature</label>
        <select id="nature" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="function" class="active">Fonction</label>
        <select id="function" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default"></select>
    </div>
</div>