<div class="row">
    <div class="sirs-field col col-50">
        <label for="label" class="active">Libellé</label>
        <input id="label" type="text" ng-model="c.doc.libelle"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-100"
         ng-init="c.setupRef('reseauHydrauliqueFermeIds', c.refs.ReseauHydrauliqueFerme[0], true)">
        <label class="active">Réseau hydraulique fermé associé</label>
        <div class="row sirs-field-multi" ng-repeat="v in c.doc.reseauHydrauliqueFermeIds track by $index">
            <div class="col col-75">
                <select class="browser-default" ng-model="c.doc.reseauHydrauliqueFermeIds[$index]">
                    <option ng-if="c.showText('fullName')"
                            ng-repeat="r in c.refs.ReseauHydrauliqueFerme track by r.id"
                            ng-value="r.id">
                        <span>{{r.libelle || ''}}</span>
                    </option>
                    <option ng-if="c.showText('abstract')"
                            ng-repeat="r in c.refs.ReseauHydrauliqueFerme track by r.id"
                            ng-value="r.id">
                        <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
                    </option>
                    <option ng-if="c.showText('both')"
                            ng-repeat="r in c.refs.ReseauHydrauliqueFerme track by r.id"
                            ng-value="r.id">
                        <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
                    </option>
                </select>
            </div>
            <div class="col col-25">
                <button class="btn pink waves-effect waves-teal"
                        ng-disabled="c.doc.reseauHydrauliqueFermeIds.length === 1"
                        ng-click="c.doc.reseauHydrauliqueFermeIds.splice($index, 1)">
                    <i class="material-icons center">remove</i>
                </button>
                <button class="btn pink waves-effect waves-teal"
                        ng-click="c.doc.reseauHydrauliqueFermeIds.splice($index + 1, 0, c.refs.ReseauHydrauliqueFerme[0].id)">
                    <i class="material-icons center">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('positionId', c.refs.RefPosition[0])">
        <label for="damPosition" class="active">Position sur la digue</label>
        <select id="damPosition" class="browser-default" ng-model="c.doc.positionId">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in c.refs.RefPosition track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
    <div class="sirs-field col col-50" ng-init="c.setupRef('coteId', c.refs.RefCote[0])">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default" ng-model="c.doc.coteId">
            <option ng-if="c.showText('fullName')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('abstract')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation + ' : ' + r.libelle || ''}}</span>
            </option>
            <option ng-if="c.showText('both')"
                    ng-repeat="r in c.refs.RefCote track by r.id"
                    ng-value="r.id">
                <span>{{r.abrege || r.designation || ''}} : {{r.libelle || ''}}</span>
            </option>
        </select>
    </div>
</div>
