<div class="row">
    <div class="sirs-field col col-50">
        <label for="lowMaterial" class="active">Matériau haut</label>
        <select id="lowMaterial" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="topMaterial" class="active">Matériau haut</label>
        <select id="topMaterial" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="topNature" class="active">Nature haut</label>
        <select id="topNature" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="lowNature" class="active">Nature bas</label>
        <select id="lowNature" class="browser-default"></select>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="topThickness" class="active">Epaisseur du sommet</label>
        <input id="topThickness" type="text"/>
    </div>
    <div class="sirs-field col col-50">
        <label for="innerSlope" class="active">Pente intérieure</label>
        <input id="innerSlope" type="text"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="topLength" class="active">Longueur rampant haut</label>
        <input id="topLength" type="text"/>
    </div>
    <div class="sirs-field col col-50">
        <label for="lowLength" class="active">Longueur rampant bas</label>
        <input id="lowLength" type="text"/>
    </div>
</div>
<div class="row">
    <div class="sirs-field col col-50">
        <label for="function" class="active">Fonction</label>
        <select id="function" class="browser-default"></select>
    </div>
    <div class="sirs-field col col-50">
        <label for="damSide" class="active">Côté de la digue</label>
        <select id="damSide" class="browser-default"></select>
    </div>
</div>