<div class="row">
    <div class="sirs-field col col-50" ng-init="c.setupRef('coteId', c.refs.RefCote[0])">
        <label for="damSide" class="active">Côté de la digue</label>

        <div ng-if="c.showText('fullName')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-options="r.id as r.libelle for r in c.refs.RefCote">
            </select>
        </div>

        <div ng-if="c.showText('abstract')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege for r in c.refs.RefCote">
            </select>

            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>
        </div>

        <div ng-if="c.showText('both')">
            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="r.abrege"
                    ng-options="r.id as r.abrege + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>

            <select id="damSide" class="browser-default"
                    ng-model="c.doc.coteId"
                    ng-if="!r.abrege"
                    ng-options="r.id as r.designation + ' : ' + r.libelle for r in c.refs.RefCote">
            </select>
        </div>
    </div>
</div>
