<div id="appLayers" ng-controller="AppLayersController as c">
    <ion-header-bar align-title="center">
        <button type="button" class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="c.backToMenu()"></button>
        <h1 class="title">Couches métiers</h1>
    </ion-header-bar>

    <ion-content class="has-header has-fab-bottom">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="layer in c.layers">
                <div class="layer-color" ng-style="{'background-color': c.layerColor(layer)}"></div>
                <div class="layer-state">
                    <i class="material-icons" ng-class="layer.position ? 'icon-layer-selected':'icon-layer-unselected'">call_merge</i>
                    <i class="material-icons" ng-class="layer.visible ? 'icon-layer-selected' : 'icon-layer-unselected'">visibility</i>
                    <i class="material-icons" ng-class="layer.editable ? 'icon-layer-selected' : 'icon-layer-unselected'">edit</i>
                    <i class="icon ion-android-hand" ng-class="layer.selectable ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                </div>
                <h2>{{layer.title}}</h2>

                <!-- Swipe actions -->
                <ion-option-button class="button" on-tap="layer.position = !layer.position">
                    <i class="material-icons" ng-class="layer.position ? 'icon-layer-selected' : 'icon-layer-unselected'">call_merge</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="c.toggleVisibility(layer)">
                    <i class="material-icons" ng-class="layer.visible ? 'icon-layer-selected' : 'icon-layer-unselected'">visibility</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="layer.editable = !layer.editable">
                    <i class="material-icons" ng-class="layer.editable ? 'icon-layer-selected' : 'icon-layer-unselected'">edit</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="layer.selectable = !layer.selectable">
                    <i class="icon ion-android-hand" ng-class="layer.selectable ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <button type="button" class="btn-floating btn-large waves-effect waves-light pink" style="bottom: 15px; left: 200px;" on-tap="c.goToLayerList()">
        <i class="large material-icons">list</i>
    </button>
</div>