<div id="appLayers" ng-controller="AppLayersController as c" ng-init="c.reorder = false">
    <ion-header-bar align-title="center">
        <button type="button" class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="c.backToMenu()"></button>
        <h1 class="title">Couches métiers</h1>
        <button type="button" class="col-20 button button-icon button-clear ion-android-refresh" on-tap="c.clearAll()"></button>
    </ion-header-bar>

    <ion-content class="has-header has-fab-bottom">

        <ion-list can-swipe="!c.reorder" show-reorder="c.reorder">

            <ion-item ng-repeat="layer in c.layers">
                <div class="layer-color" ng-style="{'background-color': c.layerColor(layer)}"></div>

                <div class="layer-state">
                    <i class="material-icons" ng-class="layer.realPosition ? 'icon-layer-selected':'icon-layer-unselected'">call_merge</i>
                    <i class="material-icons" ng-class="layer.visible ? 'icon-layer-selected' : 'icon-layer-unselected'">visibility</i>
                    <i class="material-icons" ng-class="layer.editable ? 'icon-layer-selected' : 'icon-layer-unselected'">edit</i>
                    <i class="icon ion-android-hand" ng-class="layer.selectable ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                    <i class="icon ion-android-textsms" ng-class="layer.featLabels ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                    <i class="icon ion-paintbrush"></i>
                </div>
                <h2>{{layer.title}}</h2>

                <!-- Swipe actions -->
                <ion-option-button class="button" on-tap="c.togglePosition(layer)">
                    <i class="material-icons" ng-class="layer.realPosition ? 'icon-layer-selected' : 'icon-layer-unselected'">call_merge</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="c.toggleVisibility(layer)">
                    <i class="material-icons" ng-class="layer.visible ? 'icon-layer-selected' : 'icon-layer-unselected'">visibility</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="layer.editable = !layer.editable">
                    <i class="material-icons" ng-class="layer.editable ? 'icon-layer-selected' : 'icon-layer-unselected'">edit</i>
                </ion-option-button>
                <ion-option-button class="button" on-tap="layer.selectable = !layer.selectable">
                    <i class="icon ion-android-hand" ng-class="layer.selectable ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                </ion-option-button>
                    <!--@hb add the button of setting the Borne Identifier-->
                <ion-option-button class="button" on-tap="c.featureLabels(layer)">
                    <i class="icon ion-android-textsms" ng-class="layer.featLabels ? 'icon-layer-selected' : 'icon-layer-unselected'"></i>
                </ion-option-button>
                <!--@hb add the button of setting the Borne Identifier-->
                <ion-option-button class="button" on-tap="c.openColorModal(layer)">
                    <i class="icon ion-paintbrush"></i>
                </ion-option-button>
                <!--@hb add the button of Force refresh -->
                <ion-option-button class="button" on-tap="c.forceRefresh(layer)">
                    <i class="icon ion-android-refresh"></i>
                </ion-option-button>

                <ion-reorder-button class="ion-navicon" on-reorder="c.move($fromIndex, $toIndex)"></ion-reorder-button>

            </ion-item>

        </ion-list>
    </ion-content>

    <button type="button" class="btn-floating btn-large waves-effect waves-light pink" style="bottom: 15px; left: 185px;" on-tap="c.reorder = !c.reorder">
        <i class="large material-icons">list</i>
    </button>
    <button type="button" class="btn-floating btn-large waves-effect waves-light pink" style="bottom: 15px; left: 250px;" on-tap="c.goToLayerList()">
        <i class="large material-icons">add</i>
    </button>

    <!--@hb a modal for choose the color of the layer-->
    <script id="color-modal.html" type="text/ng-template">
        <ion-modal-view style="display: block;">
            <!-- Modal header bar-->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Choisir la couleur de la couche</h1>
                <button class="button button-clear button-positive" ng-click="c.closeColorModal()">Fermer</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>

                <div class="row" ng-repeat="color in c.colors" ng-if="$index % 4 === 0">

                    <div class="col col-25" ng-if="$index < c.colors.length"
                         ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index])}">

                        <button class="button button-block"
                                ng-click="c.selectColor(c.colors[$index].rgb,$event)"
                                ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index])}">
                            {{c.colors[$index].name}}
                        </button>

                    </div>
                    <div class="col col-25" ng-if="$index + 1 < c.colors.length"
                         ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+1])}">
                        <button class="button button-block"
                                ng-click="c.selectColor(c.colors[$index+1].rgb,$event)"
                                ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+1])}">
                            {{c.colors[$index+1].name}}
                        </button>
                    </div>
                    <div class="col col-25" ng-if="$index + 2 < c.colors.length"
                        ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+2])}">
                        <button class="button button-block"
                                ng-click="c.selectColor(c.colors[$index+2].rgb,$event)"
                                ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+2])}">
                            {{c.colors[$index+2].name}}
                        </button>
                    </div>
                    <div class="col col-25" ng-if="$index + 3 < c.colors.length"
                        ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+3])}">
                        <button class="button button-block"
                                ng-click="c.selectColor(c.colors[$index+3].rgb,$event)"
                                ng-style="{'background-color': c.calculateBackGroundColor(c.colors[$index+3])}">
                            {{c.colors[$index+3].name}}
                        </button>
                    </div>
                </div>



            </ion-content>
            <ion-footer-bar class="bar-light">
                <div class="col col-33 col-offset-66" style="padding: 0px;">
                    <a class="waves-effect waves-light btn" ng-click="c.chooseColor()">
                        <i class="material-icons right">thumb_up</i>
                        Valider le choix</a>
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>
</div>