<div id="apptroncons" ng-controller="TronconsChoiceMenu as TMCtrl">
    <ion-header-bar align-title="center" style="background-color: #0097A7;">
        <button type="button" style="color: #FFFFFF;"
                class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="TMCtrl.backToMenu()"></button>
        <h1 class="title" style="color: #FFFFFF;">Tronçons</h1>
        <button type="button" style="color: #FFFFFF;"
                class="col-20 button button-icon button-clear ion-trash-a" on-tap="TMCtrl.cleanAll()"></button>
    </ion-header-bar>

    <ion-content class="has-header">
            <!--Choix de systéme d'endigument-->
            <div ng-if="TMCtrl.view === 'SE'" ng-controller="SystemEndigumentController as seCtrl">
                <p style="padding: 5px;"><b>Choisir un système d'endiguement : </b></p>
                        <!--La liste de tous les systéme d'endigument dans la base-->
                        <ion-item ng-repeat="SystemeEndiguement in seCtrl.SystemeEndiguements | orderBy:SystemeEndiguement.value.libelle">
                            <p ng-click="TMCtrl.changeView('D'); TMCtrl.putSE(SystemeEndiguement.id)">
                                {{SystemeEndiguement.value.libelle}}</p>
                        </ion-item>
            </div>
            <!--Choix d'un digue-->
            <div ng-if="TMCtrl.view === 'D'" ng-controller="DigueController as DCtrl"  ng-init="DCtrl.getDigues(TMCtrl.SEID)">
                <p style="padding: 5px;"><b>Choisir une Digue : </b></p>
                    <!--La liste de tous les digues  de ce systéme d'endigument-->
                    <ion-item ng-repeat="digue in DCtrl.digues | orderBy:digue.value.libelle">
                        <p ng-click="TMCtrl.changeView('T'); TMCtrl.putD(digue.id)">{{digue.value.libelle}}</p>
                    </ion-item>
            </div>

            <!--Choix de troncon-->
            <div ng-if="TMCtrl.view === 'T'" ng-controller="TronconController as TCtrl"  ng-init="TCtrl.getTroncons(TMCtrl.DID)">
                <p style="padding: 5px;"><b>Choisir les tronçons favoris</b></p>
                <!--La liste de tous les tronçons d'un digue-->
                <ion-checkbox ng-checked="TCtrl.isActive(troncon.id)" ng-click="TCtrl.toggleLayer(troncon.id)"
                              ng-repeat="troncon in TCtrl.troncons | orderBy:troncon.value.libelle">
                        <p>{{troncon.value.libelle}}</p>
                </ion-checkbox>
            </div>

    </ion-content>
</div>