<div id="apptroncons" ng-controller="TronconsChoiceMenu as TMCtrl">
    <ion-header-bar align-title="center" style="background-color: #0097A7;">
        <button type="button" style="color: #FFFFFF;"
                class="col-20 button button-icon button-clear ion-arrow-left-a" on-tap="TMCtrl.backToMenu()"></button>
        <h1 class="title" style="color: #FFFFFF;">Tronçons</h1>
    </ion-header-bar>

    <ion-content class="has-header">

        <!--<ion-view id="tronconChoice">-->

            <!--Choix de systéme d'endigument-->
            <div ng-if="TMCtrl.view === 'SE'" ng-controller="SystemEndigumentController as seCtrl">
                <p>Choisir un systéme d'indigument : </p>
                        <!--Sans systéme d'endigument-->
                        <ion-item>
                            <p ng-click="TMCtrl.changeView('D'); TMCtrl.putSE('withoutSystem')">Sans systéme d'endigument</p>
                        </ion-item>
                        <!--La liste de tous les systéme d'endigument dans la base-->
                        <ion-item ng-repeat="SystemeEndiguement in seCtrl.SystemeEndiguements">
                            <p ng-click="TMCtrl.changeView('D'); TMCtrl.putSE(SystemeEndiguement.id)">
                                {{SystemeEndiguement.value.libelle}}</p>
                        </ion-item>
            </div>
            <!--Choix d'un digue-->
            <div ng-if="TMCtrl.view === 'D'" ng-controller="DigueController as DCtrl"  ng-init="DCtrl.getDigues(TMCtrl.SEID)">

                    <!--La liste de tous les digues  de ce systéme d'endigument-->
                    <ion-item ng-repeat="digue in DCtrl.digues">
                        <p ng-click="TMCtrl.changeView('T'); TMCtrl.putD(digue.id)">{{digue.value.libelle}}</p>
                    </ion-item>
            </div>

            <!--Choix de troncon-->
            <div ng-if="TMCtrl.view === 'T'" ng-controller="TronconController as TCtrl"  ng-init="TCtrl.getTroncons(TMCtrl.DID)">
                <!--La liste de tous les tronçons d'un digue-->
                <ion-checkbox ng-checked="TCtrl.isActive(troncon.id)" ng-click="TCtrl.toggleLayer(troncon.id)" ng-repeat="troncon in TCtrl.troncons">
                        <p>{{troncon.value.libelle}}</p>
                </ion-checkbox>
            </div>

        <!--</ion-view>-->
    </ion-content>
</div>