<div id="menu" ng-controller="MenuController as c">
    <ion-header-bar align-title="center">
        <h1 class="title">Menu principal</h1>
    </ion-header-bar>

    <ion-content class="has-header" delegate-handle="editScroll" ng-switch="c.tab">
        <!--The content of the Babord Left Menu-->
        <ion-item on-tap="c.setBabordView('app_layers')">
            Couches métiers
        </ion-item>
        <ion-item on-tap="c.setBabordView('back_layers')">
            Fonds de carte
        </ion-item>
        <ion-item href="#/documents">
            Porte documents
        </ion-item>
        <ion-item href="#/sync">
            Synchronisation
        </ion-item>
        <ion-toggle ng-model="c.settings.geolocation" ng-change="c.updateGeolocation()" toggle-class="toggle-calm">
            Localisation GPS
        </ion-toggle>
        <ion-toggle ng-init="edition = c.sEdition.isEnabled()" ng-model="edition" ng-change="c.sEdition.toggle()" toggle-class="toggle-calm">
            Mode édition
        </ion-toggle>
        <ion-toggle ng-init="edition = c.sEdition.isEnabled()" ng-model="editionArch" ng-change="c.toggleArchiveObjects()" toggle-class="toggle-calm">
            Afficher les objets archivés
        </ion-toggle>
    </ion-content>
</div>