<div id="objectSelection" ng-controller="ObjectSelectionController as c">
    <ion-header-bar align-title="center">
        <h1 class="title">Objets sélectionnés</h1>
    </ion-header-bar>

    <ion-content class="has-header" delegate-handle="selectionScroll">
        <ion-list>
            <ion-item ng-repeat="ft in c.hbfeaturesCollection track by $index" on-tap="c.openDisorderDetails(ft)" ng-class="{visited: ft.get('visited')}">
                {{ft.get('title') || ft.get('designation') || ft.get('id')}}
                <div class="layer-categories">{{ft.get('categories').join(' / ') || 'Sans catégorie'}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</div>