<div id="objectSelection" ng-controller="ObjectSelectionController as c">
    <ion-header-bar align-title="center">
        <h1 class="title">Objets sélectionnés</h1>
    </ion-header-bar>

    <ion-content class="has-header" delegate-handle="selectionScroll">
        <!--List for only the Border layer -->
        <ion-list ng-if="c.hbfeaturesCollection !== []">
            <ion-item ng-repeat="ft in c.hbfeaturesCollection track by $index" on-tap="c.openDisorderDetails(ft)" ng-class="{visited: ft.get('visited')}">
                <!--{{ft.get('title') || ft.get('designation') || ft.get('id')}}-->
                {{ft.get('designation')}}
                <div class="layer-categories">{{ft.get('categories').join(' / ') || 'Sans catégorie'}}</div>
            </ion-item>
        </ion-list>

        <!-- List for the other layers types-->
        <ion-list>
            <ion-item ng-repeat="ft in c.selection.list track by $index" on-tap="c.openDisorderDetails(ft)" ng-class="{visited: ft.get('visited')}">
                {{ft.get('designation')}}
                <div ng-if="ft.get('@class')" class="layer-categories">{{ft.get('@class').split(".")[4] || 'Sans catégorie' }}</div>
                <div ng-if="ft.get('categories')" class="layer-categories">{{ft.get('categories')[ft.get('categories').length-1]}}</div>
            </ion-item>
        </ion-list>



    </ion-content>
</div>