<div id="objectAdd" ng-controller="ObjectAddController as c">
    <ion-header-bar align-title="center">
        <h1 class="title">Création d'objets</h1>
    </ion-header-bar>

    <div class="tabs-striped tabs-top">
        <div class="tabs tabs-sirs">
            <!-- Tab / Editable Layers -->
            <a class="tab-item" ng-class="{active: c.tab === 'layers'}" on-tap="c.setTab('layers')">Couches éditables</a>
            <!-- Tab / Closable Objects -->
            <a class="tab-item" ng-class="{active: c.tab === 'closable'}" on-tap="c.setTab('closable')">Objets non-clos</a>
        </div>
    </div>

    <ion-content class="has-header has-tabs-top has-fbb-bottom" delegate-handle="editScroll" ng-switch="c.tab">
        <!-- Content / Editable Layers -->
        <div ng-switch-when="layers">
            <ion-list>
                <ion-radio ng-model="c.selectedLayer" ng-value="layer" ng-repeat="layer in (c.allLayers|filter:{editable:true})">
                    {{layer.title}}
                </ion-radio>
            </ion-list>
        </div>
        <!-- Content / Closable Closable -->
        <div ng-switch-when="closable">
            <ion-list>
                <ion-radio ng-model="c.selectedClosable" ng-value="closable" ng-repeat="closable in c.closable">
                    {{closable.id}}
                </ion-radio>
            </ion-list>
        </div>
    </ion-content>

    <div class="fixed-button-bar text-center">
        <!-- FBB / Editable Layers -->
        <div ng-if="c.tab === 'layers'">
            <button class="btn btn-large waves-effect waves-light" type="button"
                    ng-disabled="!c.selectedLayer" ng-click="c.newObject()">Ajouter un objet</button>
        </div>
        <!-- FBB / Editable Layers -->
        <div ng-if="c.tab === 'closable'">
            <button class="btn btn-large waves-effect waves-light" type="button"
                    ng-disabled="!c.selectedClosable" ng-click="c.closeObject()">Fermer l'objet</button>
        </div>
    </div>
</div>